@use 'shared/styles/mixins' as *;

#app {
    width: 100%;
    height: 100%;
    display: flex;
    background: rgb(40, 42, 43);

    .class-content {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .lobby {
        margin: auto;
    }

    .chat {
        height: 100%;
        background-color: #eee;
        background-image: url(https://static.sayes.ru/images/backgrounds/pattern.png);
        background-repeat: repeat;
        background-size: 80%;
    }

    .chat-button {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        z-index: 4;
    }
}