@use 'shared/styles/variables';

.sy-Stepper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &Step {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 8px;
        padding-right: 8px;

        &__decorator {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            width: 32px;
            height: 32px;
            line-height: 32px;
            margin-right: 8px;
            border-radius: 100%;
            background-color: #b1b1b1;
            color: white;
            text-align: center;
            font-family: Nunito;
        }
        
        &__content {
            width: 100%;
            line-height: 1.5;
        }

        &--active &__decorator {
            background-color: variables.$secondary-color;
        }

        &--active &__content {
            
        }

        &--vertical {
            flex-direction: column;
            align-items: center;
            flex: 1;
            text-align: center;
        }

        &--vertical &__decorator {
            margin-right: 0;
            margin-bottom: 8px;
        }
        
        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    &Divider {
        flex: 1 1;
        margin: 0;
    }
}