extends /server/layouts/app

append head
    link(rel="stylesheet" href="/build/teacher.vendors.css")
    link(rel="stylesheet" href="/build/teacher.main.css")

append body
    script(src="/build/teacher.vendors.js")
    script(src="/build/teacher.main.js")