extends /shared/views/layouts/app

append head
    link(rel="stylesheet" href="/build/teacher.vendors.css")
    link(rel="stylesheet" href="/build/teacher.main.css")

append body
    include /shared/views/includes/footer
    
    script(src="/build/teacher.vendors.js")
    script(src="/build/teacher.main.js")