extends /shared/layouts/app

append head
    link(rel="stylesheet" href="/css/lms.vendors.css")
    link(rel="stylesheet" href="/css/lms.main.css")

append body
    script(src="/js/lms.vendors.js")
    script(src="/js/lms.main.js")