.ScheduleSelect {
    &__add-button {
        margin-left: auto;
    }
}

.ScheduleSelectItem {
    display: flex;
    gap: 8px;
    align-items: flex-end;
    margin-bottom: .5rem;

    &__day-select {
        flex: 1;
    }

    &__time-input {
        flex: 1;
    }
}