.schedule-select {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .schedule-select-item {
        display: flex;
        gap: 8px;
        align-items: flex-end;
        margin-bottom: .5rem;
    }

    .schedule-select-button--add {
        margin-left: auto;
    }
}