.file-input {
    input[type="file"] {
        display: none;
    }

    .mdc-text-field {
        width: 100%;
    }

    .file-preview {
        display: block;
        margin: 0;
    }

    .file-meta {
        span + span {
            margin-left: 1rem;
        }
    }
}