#account-page {
    max-width: 1024px;
    margin: auto;

    #profile-form {
        input[type='file'] {
            display: none;
        }

        .filename {
            margin-left: .5rem;
        }
    }
}