.root {
    position: relative;
    perspective: 500px;
    cursor: pointer;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: 0.7s ease-in-out transform;

    &.active {
        transform: rotateX(180deg);
    }
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: 0.7s ease-in-out transform;


    // color: variables.$primary-color;
    // font-size: 30px;
}

.front {
    background-color: rosybrown;
}

.back {
    background-color: goldenrod;
    transform: rotateX(180deg);
}