@use 'styles/base';
@use 'styles/components';
@use 'styles/components/editor';

@include editor.dark-theme;

:root {
    color-scheme: light dark; /* both supported */
}

body {
    background-color: #2d2c2d;
}

.inline-input,
.inline-textarea,
.inline-select {
    background-color: rgb(32, 31, 31);

    &--correct {
        color: forestgreen;
        background-color: rgba(34, 139, 34, .12);
    }

    &--incorrect {
        color: firebrick;
        background-color: rgba(178, 34, 34, .12);
    }
}

.page {
    .page-content {
        padding-bottom: 4rem;
    }
}