.exercise-content {
    .exercise-description {
        margin-bottom: 1rem;
    }

    .exercise-image {
        margin-bottom: 1rem;
    }

    .exercise-audio {
        margin-bottom: 1rem;
    }

    .exercise-video {
        margin-bottom: 1rem;
    }

    &--boolean {
        .mdc-list {
            padding: 0;
        }

        .boolean-exercise-item {
            padding: 0;
            cursor: default;
            overflow: visible;

            &__ripple {
                display: none;
            }
        }
    }

    &--input {
        .input-exercise-item {
            .mdc-text-field {
                width: 100%;
            }

            + .input-exercise-item {
                margin-top: 1rem;
            }
        }
    }

    &--text {
        p:last-child {
            margin-bottom: 0;
        }
    }
}