.exercise {
    .exercise-title {
        margin-top: .5rem;
    }

    .exercise-content {
    
    }

    .exercise-content + .exercise-footer {
        display: flex;
        gap: .5rem;
        margin-top: 1rem;
    }
}