.exercise-content {
    .exercise-image {
        margin-bottom: 1rem;
    }

    .exercise-audio {
        margin-bottom: 1rem;
    }

    .exercise-video {
        margin-bottom: 1rem;
    }

    .exercise-text {
        line-height: 1.5;

        p {
            margin-bottom: 0.75rem;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
        
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &--boolean {
        .mdc-list {
            padding: 0;
        }

        .mdc-list-item {
            padding: 0;
            cursor: default;
            overflow: visible;

            &__ripple {
                display: none;
            }

            &__end {
                margin-right: 0;
            }
        }
    }

    &--fib {
        p:last-child {
            margin-bottom: 0;
        }

        form {
            white-space: pre-line;
        }
    }

    &--input {
        .input-exercise-item {
            .mdc-text-field {
                width: 100%;
            }

            + .input-exercise-item {
                margin-top: 1rem;
            }
        }
    }

    &--text {
        p:last-child {
            margin-bottom: 0;
        }
    }

    table {
        margin: auto;
        border-collapse: collapse;

        td, th {
            min-width: 2em;
            padding: .4em;
            // border: 1px solid #bfbfbf;
        }
    }
}