@use 'shared/styles/mixins' as *;

.Room {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    &--showing-content {
        .main-participant-info {
            display: none;
        }
        
        .participant-list {
            border-left: 1px solid #3b3b3b;
        }
        
        .participant-info--hidden {
            display: flex;
        }

        .RoomContent {
            grid-template-columns: 1fr;
        }
    }

    .RoomContent {
        position: relative;
        height: calc(100% - 48px);
        overflow-y: auto;

        .Page {
            width: 100%;
            max-width: 1024px;
            margin: auto;
        }
    }

    .RoomSidePanel {
        height: calc(100% - 48px);

        &--open + .RoomContent  {
            width: calc(100% - 360px);
        }
    }
}