@use 'shared/styles/variables';
@use 'shared/styles/mixins' as *;

.Room {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: variables.$body-color;
    overflow-x: hidden;
    overflow-y: auto;

    &--showing-content {
        .MainParticipant {
            display: none;
        }
        
        .ParticipantList {
            border-left: 1px solid rgba(0,0,0,.12);
        }
        
        .participant-info--hidden {
            display: flex;
        }
    }

    .RoomContent {
        position: relative;
        height: calc(100% - 48px);
        overflow-y: auto;

        .Page {
            position: relative;
            height: 100%;
            overflow-y: auto;

            .PageHeader,
            .PageContent {
                width: 100%;
                max-width: 1024px;
                margin: 0 auto;
            }
        }
    }

    .RoomSidePanel {
        height: calc(100% - 48px);

        &--open + .RoomContent  {
            width: calc(100% - 360px);
        }
    }
}