.course-content {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }

    .mdc-layout-grid {
        padding: 0;
    }
}