extends /shared/layouts/app

append head
    link(rel="stylesheet" href="/css/class.css")

append body
    script.
        window.ENROLLMENT_ID = '#{ENROLLMENT_ID}';
        window.MIRO_CLIENT_ID = '#{MIRO_CLIENT_ID}';
        window.MIRO_TOKEN = '#{MIRO_TOKEN}';
    script(src="https://miro.com/app/static/boardsPicker.1.0.js")
    script(src="/js/class.js")