.root {
    width: 100%;
    max-width: 650px;
    max-height: 500px;
    padding: 20px;
    border-radius: var(--joy-radius-xl);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: auto;
}