.root {
    width: 100%;
    max-width: 650px;
    min-height: 500px;
    padding: 24px;
    border: 1px solid var(--joy-palette-neutral-outlinedBorder);
    border-radius: var(--joy-radius-xl);
    background-color: var(--joy-palette-background-surface);;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.content {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}