.root {
    width: 450px;
    height: 350px;
    padding: 20px;
    border-radius: var(--joy-radius-xl);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: auto;
}