.room-side-sheet {
    border-left: 1px solid rgba(255,255,255,.12);
    background: #222;
    z-index: auto;

    .mdc-side-sheet__header {
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    }

    .mdc-side-sheet__content {

    }

    .mdc-side-sheet__title {
        color: rgba(255, 255, 255, .7);
    }

    .mdc-side-sheet__close-button {
        color: rgba(255, 255, 255, .38);
    }
}