@use '@material/dialog';

body {
    background-color: #f8f9fc;
}

.assignment-dialog,
.post-dialog {
    @include dialog.min-width(640px);

    .mdc-dialog__surface {
        height: calc(100% - 32px);
    }

    .mdc-dialog__content {
        overflow: hidden;
    }

    .ck-editor {
        margin-top: 1rem;
    }
}