@use 'styles/variables';
@use 'styles/normalize';
@use 'mdc-react' with (
    $primary: variables.$primary-color,
    $secondary: variables.$secondary-color
);
@use 'plyr/src/sass/plyr.scss' with (
    $plyr-color-main: variables.$primary-color
);
@use 'styles/base';
@use 'styles/page';
@use 'styles/dialog';
@use 'styles/form';
@use 'styles/footer';
@use 'styles/meeting-details';