@use 'shared/styles/variables';
@use '@material/button';
@use '@material/segmented-button';
@use '@material/theme';

$fill-color: variables.$primary-color;
$ink-color: theme.accessible-ink-color(variables.$primary-color, primary);

.mdc-button {
    &--raised,
    &--unelevated {
        @include button.filled-accessible(variables.$secondary-color);
        //@include button.shape-radius(24px);
    }
}

.mdc-segmented-button {
    .mdc-segmented-button__segment {
        &:first-child {
            border-radius: 24px 0 0 24px;
        }

        &:last-child {
            border-radius: 0 24px 24px 0;
        }
    }
}

.page-header {
    color: $ink-color;
    background-color: $fill-color;
    background-image: url('https://static.sayes.ru/images/kids/fourth.png');

    // &::before {
    //     content: '';
    //     background-image: url(https://static.sayes.ru/images/kids/fourth.png);
    //     background-color: $fill-color;
    //     width: 110%;
    //     height: 100%;
    //     position: absolute;
    //     border-radius: 0 0 50% 50%;
    //     left: -5%;
    // }
}