{
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "mocha": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:@stylistic/disable-legacy"
    ],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        },
        "requireConfigFile": false,
        "babelOptions": {
            "babelrc": false,
            "configFile": false,
            "presets": [
                "@babel/preset-env",
                [
                    "@babel/preset-react",
                    {
                        "runtime": "automatic"
                    }
                ]
            ]
        }
    },
    "plugins": [
        "@stylistic",
        "@stylistic/jsx",
        "react",
        "simple-import-sort"
    ],
    "rules": {
        "arrow-body-style": [
            "error",
            "as-needed"
        ],
        "func-style": [
            "warn",
            "declaration",
            {
                "allowArrowFunctions": true
            }
        ],
        "no-undef": "error",
        "no-unused-vars": [
            "warn",
            {
                "args": "none"
            }
        ],
        "no-useless-escape": "warn",
        "react/no-deprecated": "warn",
        "react/no-unescaped-entities": "warn",
        "react/prop-types": "off",
        "react/react-in-jsx-scope": "off",
        "simple-import-sort/imports": [
            "error",
            {
                "groups": [
                    [
                        "^node:"
                    ],
                    [
                        "^react"
                    ],
                    [
                        "^@?\\w"
                    ],
                    [
                        "^(@/shared|shared)(/.*|$)",
                        "^\\u0000(@/shared|shared)"
                    ],
                    [
                        "^(@|class|cms|config|core|db|crm|lk|lms)(/.*|$)"
                    ],
                    [
                        // Parent imports. Put `..` last.
                        "^\\.\\.(?!/?$)",
                        "^\\.\\./?$"
                    ],
                    [
                        // Other relative imports. Put same-folder imports and `.` last.
                        "^\\./(?=.*/)(?!/?$)",
                        "^\\.(?!/?$)",
                        "^\\./?$"
                    ],
                    [
                        // Side effect imports.
                        "^\\u0000"
                    ]
                    // [
                    //     // Style imports.
                    //     "^.+\\.s?css$"
                    // ]
                ]
            }
        ],
        "simple-import-sort/exports": "error",
        // https://eslint.style/packages/default#rules
        "@stylistic/arrow-parens": [
            "warn",
            "as-needed"
        ],
        "@stylistic/comma-dangle": [
            "warn",
            "never"
        ],
        "@stylistic/comma-spacing": "warn",
        "@stylistic/eol-last": [
            "warn",
            "never"
        ],
        "@stylistic/indent": [
            "warn",
            4,
            {
                "SwitchCase": 1,
                "MemberExpression": 1
            }
        ],
        "@stylistic/lines-between-class-members": [
            "warn",
            "always",
            {
                "exceptAfterSingleLine": true
            }
        ],
        "@stylistic/no-multiple-empty-lines": [
            "warn",
            {
                "max": 1
            }
        ],
        "@stylistic/no-trailing-spaces": "warn",
        "@stylistic/object-curly-spacing": [
            "warn",
            "always"
        ],
        "@stylistic/object-property-newline": [
            "warn",
            {
                "allowAllPropertiesOnSameLine": true
            }
        ],
        "@stylistic/padded-blocks": [
            "warn",
            "never"
        ],
        "@stylistic/padding-line-between-statements": [
            "warn",
            {
                "blankLine": "always",
                "prev": "*",
                "next": [
                    "multiline-block-like",
                    "multiline-expression",
                    "multiline-const"
                ]
            },
            {
                "blankLine": "always",
                "prev": [
                    "multiline-block-like",
                    "multiline-expression",
                    "multiline-const"
                ],
                "next": "*"
            },
            {
                "blankLine": "any",
                "prev": [
                    "const",
                    "let",
                    "var"
                ],
                "next": [
                    "const",
                    "let",
                    "var"
                ]
            },
            {
                "blankLine": "always",
                "prev": "*",
                "next": "return"
            }
        ],
        "@stylistic/quotes": [
            "error",
            "single"
        ],
        "@stylistic/semi": [
            "error",
            "always"
        ],
        "@stylistic/jsx-quotes": [
            "warn",
            "prefer-double"
        ],
        "@stylistic/space-infix-ops": "error",
        "@stylistic/jsx/jsx-closing-bracket-location": [
            "warn",
            "tag-aligned"
        ],
        "@stylistic/jsx/jsx-first-prop-new-line": [
            "warn",
            "multiline-multiprop"
        ],
        "@stylistic/jsx/jsx-newline": [
            "warn",
            {
                "prevent": true,
                "allowMultilines": true
            }
        ],
        "@stylistic/jsx/jsx-max-props-per-line": [
            "warn",
            {
                "maximum": 1,
                "when": "always"
            }
        ],
        "@stylistic/jsx/jsx-props-no-multi-spaces": "warn",
        "@stylistic/jsx/jsx-sort-props": [
            "warn",
            {
                "callbacksLast": true,
                "shorthandLast": true,
                "multiline": "ignore",
                "ignoreCase": true,
                "noSortAlphabetically": true,
                "reservedFirst": true
            }
        ]
    },
    "overrides": [
        {
            "files": [
                "*.js",
                ".jsx"
            ],
            "excludedFiles": "*/public/*.js"
        }
    ]
}