.lesson-content {
    &__header {
        margin-bottom: 2rem;
        
    }

    .lesson-title {
        font-weight: normal;
        margin: 0;
        display: inline;
        background-color: #fcc200;
        padding: .5rem;
        padding: 8px;
        border-radius: 0 25px 25px 0;
        box-shadow: 0px -3px #ee6502;
    }

    .exercise-content + .exercise-content {
        margin-top: 2rem;
    }
}