.root {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}

.search {
    flex: 1;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}