extends /server/layouts/base

include /server/mixins/flash-banner
include /server/mixins/yandex-metrika
include /server/mixins/google-analytics
include /server/mixins/facebook-pixel

block head
    link(rel="stylesheet" href="/build/shared.css")
    link(rel="stylesheet" href="/build/main.css")

    if ENV === 'production'
        +yandex-metrika(YANDEX_METRIKA_ID)
        +google-analytics(GOOGLE_ANALYTICS_ID)
        +facebook-pixel(FACEBOOOK_PIXEL_ID)

    block styles
    
block body
    include /server/includes/header

    include /server/includes/flash

    main#content
        block main
    
    include /server/includes/footer
    
    include ./shared/includes/login-dialog
    include ./shared/includes/password-dialog
    include ./shared/includes/request-dialog
    include ./shared/includes/contact-dialog

    if ENV === 'development'
        script(src="/lib/material-components-web/dist/material-components-web.js")
    else
        script(src="/lib/material-components-web/dist/material-components-web.min.js")
        script.
            document.querySelector('#request-dialog').addEventListener('submit', function() {
                ym('#{YANDEX_METRIKA_ID}', 'reachGoal', 'callback');
                gtag('event', 'click', { event_category: 'callback' });
                fbq('track', 'Lead_club');

                return true;
            });

            document.querySelector('#contact-dialog').addEventListener('submit', function() {
                ym('#{YANDEX_METRIKA_ID}', 'reachGoal', 'feedback');
                gtag('event', 'click', { event_category: 'feedback' });
                fbq('track', 'Lead_club');

                return true;
            });

            document.querySelector('#register-form').addEventListener('submit', function() {
                ym('#{YANDEX_METRIKA_ID}', 'reachGoal', 'ticket');
                gtag('event', 'click', { event_category: 'ticket' });
                fbq('track', 'Lead_club');

                return true;
            });

    script.
        mdc.autoInit();

        document.querySelectorAll('[data-open]').forEach(function(element) {
            element.addEventListener('click', function() {
                document.querySelector(element.dataset.open).MDCDialog.open();
            });
        });

        document.querySelectorAll('[data-close]').forEach(function(element) {
            element.addEventListener('click', function() {
                document.querySelector(element.dataset.close).MDCDialog.close();
            });
        });

        document.querySelectorAll('.flash-banner').forEach(function(element) {
            element.MDCBanner.open();

            element.querySelector('.flash-banner__dismiss').addEventListener('click', function() {
                element.MDCBanner.close();
            });
        });

    block scripts