@use 'shared/styles/variables';

.LexemeItem {
  &:not(:last-of-type) {
    border-bottom: 1px solid lighten(variables.$text-color, 50%);
  }

  .LexemeItemValue {
    color: variables.$primary-color;
    font-weight: 900;
  }

  .EditBtn {
    margin-left: auto;
  }
}