@use 'shared/styles/variables';

.root {
    &:not(:last-of-type) {
        border-bottom: 1px solid var(--joy-palette-divider);
    }
}

.content {
    flex: 1;
    display: flex;
    gap: 8px;
    cursor:pointer;
}

.value {
    font-weight: 900;
}

.translation {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.actions {
    display: flex;
    align-items: center;
    gap: 4px;
}