.enrollment-checkout-form {
    display: flex;
    flex-direction: column;
    height: 100%;

    .ui-text {
        color: white;
    }

    .balance-text {
        display: flex;
        align-items: center;
        gap: 8px;

        strong {
            font-size: 42px;
            font-weight: bold;
            line-height: 42px;
        }
    }

    .promocode {
        margin: 1rem 0;

        .ui-input {
            &__input {
                border-bottom-color: transparent;
                border-radius: 4px;
                text-transform: uppercase;
                width: 100%;
            }
        }
    }

    .price-text {
        display: block;
        margin-top: auto;
        margin: auto 0 1rem;
        font-size: 1rem;

        strong {
            font-size: 36px;
            font-weight: bold;
            line-height: 36px;
        }
    }

    .submit {
    }
}