@use 'shared/styles/variables';

.root {
  width: 450px;
  height: 450px;
  padding: 20px;
  border-radius: 40px;
  border: 5px solid variables.$primary-color;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.status {
  margin-bottom: 30px;
}

.value {
  color: variables.$primary-color;
}

.translation {
  color: variables.$microsoft-color;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: auto;
}

.btn {
  width: 200px !important;
}