.app-header {
    padding: 8px 16px;
    background: #464775;
    color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.12);

    &__section {
        flex: 1;
    }

    .ui-input {
        &__input {
            height: 42px;
        }
    }
}