@use 'shared/styles/variables';
@use 'shared/styles/mixins'as *;

.PageHeader {
    position: relative;
    overflow: hidden;
    max-width: 1280px;
    position: relative;
    margin: 0 auto;
    padding: 1rem;

    @include breakpoint(lt-md) {
        padding: 1rem;
    }

    &__row {
        display: flex;
        gap: 1rem;
    }

    &__main {
        margin-right: auto;
    }

    &__center {
        margin: 0 auto;
    }

    &__tabs {
        align-self: center;
    }

    &__actions {
        display: flex;
        align-items: flex-start;
        margin-left: auto;
        gap: .25rem;
    }

    &__breadcrumbs {
        padding: 0;
    }

    &__overline {
        font-size: 0.75rem;
        line-height: 2rem;
        font-weight: 500;
        letter-spacing: 0.15em;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0;
        display: block;
        line-height: normal;
    }

    &--with-tabs &__inner {
        padding-bottom: 0;
    }
}