form {
    .mdc-text-field:not(:only-child),
    .mdc-select:not(:only-child) {
        margin-top: 1rem;
    }

    .mdc-form-field {
        margin-top: 1rem;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        .mdc-switch {
            margin-right: .5rem;
        }
    }

    .radio-group {
        margin-top: 1rem;

        .mdc-form-field {
            margin: 0;
        }
    }
}