@use '@material/tab';
@use '@material/tab-indicator';
@use './variables';

#header {
    align-items: center;

    .logo {
        width: unset;
        height: 100%;
        margin-left: 1rem;

        img {
            height: 48px;
            width: auto;
        }
    }

    .mdc-top-app-bar__title {
        overflow: visible;
        text-overflow: unset;

        a {
            color: white;
            text-decoration: none;
        }
    }

    .mdc-tab {
        @include tab.icon-color(on-primary);
        @include tab.text-label-color(on-primary);
        @include tab.states-color(on-primary);
        @include tab.active-states-color(on-primary);
    
        .mdc-tab-indicator {
            display: none;
        }
    }

    + * {
        margin-top: 64px;

        @media #{variables.$lt-md} {
            margin-top: 56px;
        }
    }
}