@use 'shared/styles/variables';
@use '@material/theme' with (
    $primary: variables.$primary-color,
    $secondary: variables.$secondary-color
);
@use '@material/typography' with (
    $font-family: unquote('Nunito, Arial, Helvetica, sans-serif'),
    $styles-headline1: (
        font-family: unquote('Nunito, Arial, Helvetica, sans-serif'),
        font-weight: 700,
        color: variables.$heading-color
    ), 
    $styles-headline2: (
        font-family: unquote('Nunito, Arial, Helvetica, sans-serif'),
        font-weight: 700,
        color: variables.$heading-color
    ),
    $styles-headline3: (
        font-family: unquote('Nunito, Arial, Helvetica, sans-serif'),
        font-weight: 700,
        color: variables.$heading-color
    ),
    $styles-headline4: (
        font-family: unquote('Nunito, Arial, Helvetica, sans-serif'),
        font-weight: 700,
        color: variables.$heading-color
    ),
    $styles-headline5: (
        font-family: unquote('Nunito, Arial, Helvetica, sans-serif'),
        font-weight: 700,
        color: variables.$heading-color
    ),
    $styles-headline6: (
        font-family: unquote('Nunito, Arial, Helvetica, sans-serif'),
        font-weight: 700,
        color: variables.$heading-color
    ),
    $styles-subtitle1: (
        font-family: unquote('Nunito, Arial, Helvetica, sans-serif'),
        font-weight: 600,
        color: variables.$heading-color
    ),
    $styles-subtitle2: (
        font-family: unquote('Nunito, Arial, Helvetica, sans-serif'),
        font-weight: 600,
        color: variables.$heading-color
    ),
    $styles-body1: (
        font-family: unquote('Nunito, Arial, Helvetica, sans-serif')
    ),
    $styles-body2: (
        font-family: unquote('Nunito, Arial, Helvetica, sans-serif')
    ),
    $styles-button: (
        font-family: unquote('Nunito, Arial, Helvetica, sans-serif'),
        font-weight: 700
    )
);

.material-icons {
    font-family: 'Material Icons Round';
}