<section class="central-text">
	{% if centralText == 'trial-lesson-mini' %}
		<h2 class="central-text__title">
			<a href="#" class="text text--violent text--underline">Оставьте заявку</a>
			на пробный урок, и уже через месяц вы почувствуете свой прогресс</h2>
	{% else %}
		<h2 class="central-text__title">Английский
			<span class="text text--violent">с ощутимым результатом</span>
			уже через месяц занятий</h2>
		<p class="central-text__description">Команда преподавателей отвечает за ваш прогресс, а менеджеры создают приятную атмосферу, в которую хочется возвращаться</p>
	{% endif %}
</section>
