<div class="feedback-block">
	<img src="./assets/images/pictures/feedback.jpg" alt="Say Yes" class="feedback-block__img">
	<div class="feedback-block__content">
		<p class="feedback-block__description">Мы свяжемся с вами, запишем на урок, ответим на вопросы и расскажем о курсах</p>
		{% include '../components/feedback-form.twig' %}
	</div>
</div>
