body {
    background-color: #f1f3f4;
}

.ui-provider {
    background: unset !important;
}

.app-content {
    margin: unset;
    background-color: #f1f3f4;
}

.page {
    .page-header {
        &__inner {
            max-width: 1280px;
            margin: auto;
        }
    }

    .page-content {
        max-width: 1280px;
        margin: auto;
        padding: 1rem;
    }
}

.assignment-dialog,
.post-dialog {
    .ck-editor {
        margin-top: 1rem;
    }
}