#post-page {
    .page-header {
        &__inner {
            max-width: 1024px;
        }
    }
    
    .page-content {
        max-width: 1024px;
    }

    .comment-card + .comment-card {
        margin-top: 1rem;
    }

    #new-comment-form {
        border-top: 1px solid rgba(0,0,0,.12);
        border-bottom: 1px solid rgba(0,0,0,.12);
    }
}