@use 'shared/styles/mixins' as *;

.participant-list {
    padding: 2em;
    background: rgb(79, 83, 85);
    overflow-y: auto;
    z-index: 5;

    @include breakpoint(lt-md) {
        display: flex;
        padding: 8px;
        overflow-y: initial;
        overflow-x: auto;
    }

    &--transparent-background {
        background: transparent;
    }

    &__scroll-container {
        @include breakpoint(lt-md) {
            display: flex;
        }
    }
}