@use 'mdc-react/src/SideSheet/mixins';

#course-page {
    header {
        display: flex;
        align-items: center;

        .mdc-typography {
            margin-right: auto;
        }

        .mdc-icon-button + .mdc-typography {
            margin-left: 8px;
        }
    }

    .page-content {
        padding: 2rem;
    }

    .mdc-side-sheet {
        top: 0;
        right: 0;
        z-index: 2;
        @include mixins.width(360px);
    }
}