@use 'shared/styles/base';
@use 'shared/styles/components';

.PageContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.FormDialog {
    .ui-Form,
    fieldset {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
}