.images-field {
    input[type="file"] {
        display: none;
    }

    label {
        .ui-button {
            height: auto;
        }
    }

    .ui-card {
        position: relative;
        width: 96px;

        .ui-button {
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;
            transition: opacity .2;
        }

        &:hover {
           .ui-button {
               opacity: 1;
           }     
        }

        + .ui-card {
            margin-left: 8px;
        }
    }
}