.course-page {
    height: calc(100vh - 48px);
    overflow-y: auto;
        
    .breadcrumbs {
        margin-bottom: 8px;
    }

    .page-header {
        &__inner {
            padding: 1rem;
        }
    }

    .page-content {
        max-width: 1024px;
        margin: auto;
        padding: 1rem 1rem 4rem;
    }

    &--scrolling {
        .page-header {
            position: sticky;
            top: 0;
            background-color: #222;
            box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
            z-index: 3;

            .page-header__inner {
                padding: .5rem 1rem;
            }

            .page-header__title {
                font-size: 1.5rem;
                line-height: 1.1;
            }

            .breadcrumbs {
                margin-bottom: 0;
                font-size: 0.9rem;
            }
        }
    }
}