.details-list {
    .ui-list {
        &__item {
            padding: 0 1rem;
        }

        &__itemmedia {
            display: flex;
            margin-right: 16px;

            i {
                color: rgba(0, 0, 0, .54);
            }
        }
    }

    // .mdc-list-item {
    //     height: auto;
    //     min-height: 64px;
    //     align-items: flex-start;

    //     &__start {
    //         margin-top: 1rem;
    //     }

    //     &__content {
    //         display: flex;
    //         flex-direction: column-reverse;
    //         text-overflow: initial;
    //         white-space: initial;
    //         overflow: initial;
    //     }

    //     &__primary-text {
    //         text-overflow: initial;
    //         white-space: initial;
    //         overflow: initial;
    //     }

    //     &__end {
    //         margin: 12px 0 0 auto;
    //     }
    // }
}