@use 'sass:selector';

.PageSection {
    border-radius: 8px;
    overflow: hidden;

    &__header {
        display: flex;
        align-items: center;
        gap: .5rem;
        padding: 8px 8px 8px 16px;

        &:empty {
            padding: 0;
        }

        &-text {
            flex: 1;
        }

        &-actions {
            align-self: flex-start;
            margin-left: auto;
        }
    }

    &__content {
        padding: 8px 16px 16px;
        // overflow-y: auto;

        &:empty {
            padding: 0;
        }
    }

    &__header:empty + &__content {
        padding: 16px;
    }

    // &__header + &__content {
    //     max-height: calc(100vh - 48px - 77px - 32px - 40px);
    // }

    // &__header:empty + &__content {
    //     max-height: calc(100vh - 48px - 77px - 32px);
    // }

    &--compact > &__header + &__content {
        padding: 0;
    }

    &--plain {
        background-color: transparent !important;
        overflow: visible;
    }

    &#{selector.unify('#{&}--compact', '#{&}--plain')} &__header {
        padding: 8px 0;
    }
}