body {
    background-color: #f1f3f4;
}

.App {
    .AppContent {
        margin: 0;
    }
}

.Page {
    max-width: 1024px;
    margin: auto;

    .PageHeader {
        &__inner {
            max-width: 1280px;
            margin: auto;
            padding: 2rem 1rem;
        }
    }

    .PageContent {
        max-width: 1280px;
        margin: auto;
        padding: 2rem 1rem;
    }
}