.ui-Autocomplete-listbox {
  li {
    .autocomplete-show-more-btn {
      width: 100%;
    }
  }

  .ui-Autocomplete-noOptions,
  .ui-Autocomplete-loading {
    padding: 5px 10px;
  }
}

.MuiAutocomplete-listbox {
  .MuiAutocompleteOption-root {
    padding: 0;
    min-height: 100%;
  }

  .add-new-option {
    width: 100%;
    padding: 5px;
  }
}
