.mdc-chip {
    &.person-chip {
        padding-left: 0;

        .mdc-avatar {
            .mdc-avatar__text {
                font-size: 16px;
                line-height: 32px;
            }
        }

        .mdc-chip__icon--leading {
            width: 32px;
            height: 32px;
            margin-left: 0;
            margin-right: 8px;
        }
    }
}

a.mdc-chip {
    .mdc-chip__icon,
    .mdc-chip__text {
        text-decoration: none;
    }
}