@use 'shared/styles/variables';

#content {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;

    @media #{variables.$lt-lg} {
        padding: 1rem;
    }
    
    > .mdc-layout-grid {
        padding: 0;
    }
}