@import '@material/theme/color-palette';
@import '@material/theme/mixins';
@import '@material/button/mixins';
@import '@material/icon-button/mixins';
@import '@material/typography/mixins';

.flash-banner {
    // position: fixed;
    // width: 100%;
    // bottom: 0;
    // z-index: 3;
    // border-top: 1px solid rgba(0, 0, 0, 0.12);

    &.flash-banner--info {
        background-color: $material-color-blue-700;
    }

    &.flash-banner--error {
        background-color: $material-color-red-700;
    }

    &.flash-banner--success {
        background-color: $material-color-green-700;
    }

    &.flash-banner--info,
    &.flash-banner--error,
    &.flash-banner--success {
        .mdc-banner__text {
            @include mdc-theme-prop(color, text-primary-on-dark);
        }

        .mdc-banner__icon {
            @include mdc-theme-prop(color, text-secondary-on-dark);
        }

        .mdc-button {
            @include mdc-button-ink-color(text-primary-on-dark);
        }

        .mdc-icon-button {
            @include mdc-icon-button-ink-color(text-primary-on-dark);
        }
    }
}