.ui-list {
    .ui-list__itemmedia {
        margin-right: 1rem;
    }

    &.numbered-list {
        .ui-list__item {
            padding-left: 1.125rem;
        }
        
        .ui-list__itemmedia {
            width: 36px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            background: lightgray;
            color: white;
            border-radius: 100%;
        }
    }
}