@use 'mdc-react/src/SideSheet/mixins';

#enrollments-page {
    max-width: 1024px;
    margin: auto;
    padding: 2rem;
}

.class-side-sheet {
    position: fixed;
    top: 64px;
    height: calc(100% - 64px);
    z-index: 3;
    @include mixins.width(360px);

    .mdc-side-sheet__header {
        display: none;
    }

    .mdc-side-sheet__content {
        display: flex;
        flex-direction: column;

        .chat {
            flex: 1;
        }
    }
}