.AudioContent {
    .AudioPlayer {
        flex: 1;

        .plyr__controls {
            padding: 0;
        }
    }

    &__text {
        max-height: 480px;
        margin-top: 1rem;
        overflow: auto;
    }
}