@use '../common';

@include common.root;
@include common.actions;
@include common.next-button;

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.selectedChars,
.availableChars {
    display: flex;
    gap: 2px;
}

.availableChar,
.selectedChar {
    flex: 1;
}

.availableChar,
.selectedChar {
    padding: .5rem !important;
    min-width: 2rem !important;
    min-height: 2rem !important;
}