.PostsFeed {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    .ui-header {
        margin: 0;
    }

    .post-card,
    .new-post-card {
        &.ui-segment {
            border: none;
            border-radius: 8px;
            overflow: hidden;
        }

        .post-form {
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    .empty-state {
        margin-top: 2rem;
    }
}