.ExerciseItems {
    position: relative;
    counter-reset: number;

    .ExerciseItem {
        width: 100%;
        padding-right: 3rem;
        // transition: background-color .2s;
    }
    
    &:not(.page-section--compact) {
        > .page-section__content:not(:empty) {
            padding: 0 1rem 1rem 1rem;
        }
    }

    & &__item-menu-button {
        position: absolute !important;
        right: 16px;
        top: -10000px;
        min-width: 24px;
        min-height: 24px;
    }
}