@use 'mdc-react/src/SideSheet/mixins';

.enrollment-comments-side-panel.side-panel {
    @include mixins.width(50%);
    box-shadow: 0 8px 10px -5px rgb(0 0 0 / 20%), 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%);

    .mdc-card {
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    .comment-card {
        border: none;
        border-radius: 0;
        
        .mdc-card__section {
            padding: .5rem 1rem;
        }

        + .comment-card {
            padding-top: 1rem;
            border-top: 1px solid rgba(0,0,0,.12);
        }
    }

    .comment-form {

    }

    .mdc-fab {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }

    .mdc-side-sheet__content {
        padding: 1rem 0;
    }

    .side-panel__footer {
        padding: 0;

        .mdc-button {
            width: 100%;
            border-radius: 0;
        }
    }
}