@use 'shared/styles/variables';
@use 'shared/styles/mixins'as *;

.page-header {
    position: relative;
    overflow: hidden;

    .ui-header {
        margin: 0;

        &__description {
            margin: 0;
            font-size: 1.1rem;
        }
    }

    &__inner {
        max-width: 1280px;
        position: relative;
        margin: 0 auto;
        padding: 1rem;

        @include breakpoint(lt-md) {
            padding: 1rem;
        }
    }

    &__row {
        display: flex;
    }

    &__section {
        &:first-child {
            flex: 1;
        }

        &.page-header__section--actions {
            display: flex;
            align-items: center;

            > :not(:only-child) {
                margin-left: 8px;
            }
        }
    }

    &__breadcrumbs {
        margin-bottom: 8px;

        .ui-breadcrumb__item:first-of-type {
            padding-left: 0;
        }
    }

    &__overline {
        font-size: 0.75rem;
        line-height: 2rem;
        font-weight: 500;
        letter-spacing: 0.1666666667em;
        text-decoration: none;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.54);
        margin: 0;
        display: block;
        line-height: normal;
    }

    &.page-header--pull-content {
        box-shadow: none;

        @include breakpoint(gt-md) {
            padding-bottom: 64px;
        }

        + .page-content {
            @include breakpoint(gt-md) {
                margin-top: -96px;
            }
        }
    }

    &.page-header--with-tabs {
        .page-header__inner {
            padding-bottom: 0;
        }
    }
}