@use '@material/button';
@use '@material/chips';
@use '@material/tab';
@use '@material/tab-indicator';
@use '@material/textfield';
@use '@material/textfield/icon';
@use '@material/theme';
@use 'shared/styles/variables';
@use 'shared/styles/mixins' as *;

$fill-color: variables.$primary-color;
$ink-color: theme.accessible-ink-color(variables.$primary-color, primary);

.page-header {
    position: relative;
    overflow: hidden;

    &__inner {
        max-width: 1024px;
        position: relative;
        margin: 0 auto;
        padding: 2rem 1rem 1rem;

        @include breakpoint(lt-md) {
            padding: 1rem;
        }
    }

    &__row {
        display: flex;
    }

    &__section {
        &:first-child {
            flex: 1;
        }

        &.page-header__section--actions {
            display: flex;
            align-items: center;

            > :not(:only-child) {
                margin-left: 8px;
            }
        }
    }

    &__overline {
        margin-bottom: .5rem;
    }

    &__graphic {
        margin-bottom: 1rem;
        border: 3px solid variables.$secondary-color;
    }

    .mdc-icon,
    .mdc-typography {
        @include theme.property(color, $ink-color);
    }

    .mdc-button {
        &.mdc-button--outlined {
            @include button.container-fill-color($fill-color);
            @include button.icon-color($ink-color);
            @include button.ink-color($ink-color);
            @include button.outline-color($ink-color);
        }
    }

    .mdc-chip-set {
        justify-content: center;
    }

    .mdc-chip {
        background-color: transparent;
        @include chips.ink-color($ink-color);
        @include chips.selected-ink-color($ink-color);
        @include chips.leading-icon-color($ink-color);
    }

    .mdc-tab {
        @include tab.text-label-color($ink-color);
        @include tab.icon-color($ink-color);

        .mdc-tab-indicator {
            @include tab-indicator.underline-color($ink-color);
            @include tab-indicator.icon-color($ink-color);
        }

        .mdc-tab__ripple {
            @include tab.states-color($ink-color);
        }
    }

    .mdc-text-field {    
        @include textfield.height(48px);
        @include textfield.ink-color(rgba(255, 255, 255));
        @include textfield.placeholder-color(rgba(255, 255, 255.6));
        @include textfield.caret-color(rgba(255, 255, 255.8));
        @include textfield.fill-color(rgba(255, 255, 255, .1));
        @include icon.leading-icon-color(rgba(255, 255, 255.8));
        @include icon.trailing-icon-color(rgba(255, 255, 255.8));
    }

    .icon-block {
        .icon-block__icon {
            color: white;
        }

        .icon-block__title {
            @include theme.property(color, $ink-color);
        }

        .icon-block__subtitle {
            @include theme.property(color, theme.accessible-ink-color(variables.$primary-color, secondary));
        }
    }

    &.page-header--pull-content {
        box-shadow: none;

        @include breakpoint(gt-md) {
            padding-bottom: 64px;
        }

        + .page-content {
            @include breakpoint(gt-md) {
                position: relative;
                top: -96px;
                margin-bottom: -96px;
            }
        }
    }

    &.page-header--with-tabs {
        .page-header__inner {
            padding-bottom: 0;
        }
    }
}