body {
    background-color: #f1f3f4;
}

.page {
    .page-content {
        max-width: 1280px;
        margin: auto;
        padding: 1rem;
    }

    .mdc-layout-grid {
        padding: 0;
    }
}

.payment-dialog {
    .mdc-dialog__surface {
        min-width: 640px;
    }

    .mdc-tab-bar {
        margin-bottom: 1rem;
    }

    #payment-form {
        padding: 1rem;
    }

    .mdc-list-item__meta {
        font-size: 1.25rem;
        color: black;
    }
}