$white: #fffcff;
$black: #262626;
$grey: #e5e3e2;
$yellow: #ffd754;
$violent: #7831b2;
$medium-magenta: #a68ad5;
$pink: #e71985;
$pale-pink: #f8dcd6;
$pale-white: #f8f0ee;
$linen: #f9e2de;
$almond-crayola: #f6e7e5;
$pearl-white: #f9f4f2;

$border-radius-extra-sm: 10px;
$border-radius-sm: 15px;
$border-radius: 30px;
$border-radius-bg: 40px;
