@use 'shared/styles/variables';

$fill-color: variables.$primary-color;
$ink-color: variables.$on-primary-color;

.AppHeader {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $fill-color;
    color: $ink-color;
    border-bottom: 1px solid rgba(0,0,0,.12);
    height: 56px;

    &__home-link {
        color: inherit;
        font-size: 2rem;
    }

    .ui-Input {
        &__input {
            height: 42px;
        }
    }
}