extends /shared/layouts/app

append head
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Shantell+Sans:ital,wght@1,300..400&display=swap")
    link(rel="stylesheet" href="https://static.sayes.ru/css/shared.css")
    link(rel="stylesheet" href="/css/club.css")

append body
    script(src="/js/club.js")