@use '@material/theme/color-palette';

.meeting-datetime {
    &::first-letter {
        text-transform: capitalize;
    }
}

.meeting-host,
.meeting-level {
    &.mdc-chip {
        padding-left: 0;

        .mdc-chip__icon {
            margin-left: 0;
            margin-right: 8px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
        }
    }
}

.meeting-level {
    &.meeting-level--beginner {
        .mdc-list-item__graphic,
        .mdc-chip__icon {
            background-color: color-palette.$red-500;
        }
    }

    &.meeting-level--elementary {
        .mdc-list-item__graphic,
        .mdc-chip__icon {
            background-color: color-palette.$blue-500;
        }
    }

    &.meeting-level--pre-intermediate {
        .mdc-list-item__graphic,
        .mdc-chip__icon {
            background-color: color-palette.$green-500;
        }
    }

    &.meeting-level--intermediate {
        .mdc-list-item__graphic,
        .mdc-chip__icon {
            background-color: color-palette.$purple-500;
        }
    }

    &.meeting-level--upper-intermediate {
        .mdc-list-item__graphic,
        .mdc-chip__icon {
            background-color: color-palette.$red-900;
        }
    }

    &.meeting-level--advanced {
        .mdc-list-item__graphic,
        .mdc-chip__icon {
            background-color: color-palette.$blue-900;
        }
    }
}