.NetworkQualityIndicator {
    display: flex;
    align-items: flex-end;
    
    div {
        width: 2px;
        margin-right: 1px;

        &:not(:last-child) {
            border-right: none;
        }
    }
}