extends /main/index

include ../shared/mixins/icon-block
include ../shared/mixins/section

append styles
    link(rel='stylesheet' href='//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css')
    link(rel='stylesheet' href='//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css')

block header-content
    +mdc-top-app-bar__section.tab-nav
        +mdc-tab-bar()(align='center')

    +mdc-top-app-bar__section()(alignEnd)
        +mdc-button('Обратный звонок')(icon='phone' data-open='#request-dialog' unelevated).request-dialog-button
        +mdc-button('Войти')(unelevated data-open='#login-dialog').login-dialog-button

block main
    +section#hero
        div.hero-image

        div.hero-content
            +mdc-typography('Say Yes Online')(element='h1' type='headline2').hero-title
            +mdc-typography('Практикуй английский онлайн!')(type='headline4').hero-subtitle
            +mdc-button('Войти')(outlined data-open='#login-dialog').hero-button
            +mdc-button('Зарегистрироваться')(raised data-open='#register-dialog').hero-button

append scripts
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js')
    script.
        (function() {
            var authTabBar = document.querySelector('#auth-dialog .mdc-tab-bar');
            var authTabPanels = document.querySelectorAll('#auth-dialog .tab-panel');
            var authButton = document.querySelector('#auth-dialog .auth-button');
            var authButtonLabel = document.querySelector('#auth-dialog .auth-button .mdc-button__label');
            var forms = [
                document.querySelector('#auth-dialog #register-form'),
                document.querySelector('#auth-dialog #login-form')
            ];
            var labels = ['Зарегистрироваться', 'Войти'];
            var activeForm = forms[0];

            authTabBar.addEventListener('MDCTabBar:activated', function(event) {
                var index = event.detail.index;

                authTabPanels.forEach(function(panel) {
                    panel.classList.remove('tab-panel--active');
                });

                authTabPanels[index].classList.add('tab-panel--active');
                authButtonLabel.textContent = labels[index];
                activeForm = forms[index];
            });

            authButton.addEventListener('click', function() {
                if (activeForm.reportValidity()) {
                    activeForm.submit();
                }
            }, false);
        })();

        (function() {
            var sections = new Map();

            document.querySelectorAll('.section').forEach(function(element) {
                sections.set(element.id, element);
            });

            document.querySelectorAll('a.mdc-button[href^="#"], #header .mdc-tab').forEach(function(element) {
                element.addEventListener('click', function(event) {
                    event.preventDefault();

                    var id = event.currentTarget.hash.substring(1);
                    var section = sections.get(id);

                    if (section) {
                        section.scrollIntoView({ block: 'start', behavior: 'smooth' });
                    }

                    element.blur();
                }, false);
            });
        })();