@use '@material/button';
@use '@material/typography';
@use '@material/theme';
@use 'shared/styles/variables';

$section-grey-color: #eee;
$section-purple-color: radial-gradient(at 50% -20%, #ac2ac3 0, #590169 90%);

#front-page {
    .section {
        .section__content {
            max-width: 1152px;
            margin: auto;
            padding: 4rem 2rem;

            @media #{variables.$sm} {
                padding: 2rem 1rem;
            }
        }

        .section-title {
            text-align: center;
            margin-top: 0;
            margin-bottom: 3rem;

            @media #{variables.$sm} {
                @include typography.typography('headline5');
                margin-bottom: 2rem;
            }
        }

        .mdc-layout-grid {
            padding: 0;
        }
    }

    #header {
        .mdc-top-app-bar__section {
            &:first-child {
                flex: 1;
            }

            &.tab-nav {
                padding: 0;

                @media #{variables.$sm} {
                    display: none;
                }
            }
    
            &:last-child {
                flex: 1;

                @media #{variables.$sm} {
                    flex: none;
                }
            }
        }

        .mdc-tab-bar,
        .mdc-tab-scroller,
        .mdc-tab-scroller__scroll-area,
        .mdc-tab {
            height: 100%;
        }

        .request-dialog-button {
            @media #{variables.$sm} {
                display: none;
            }
        }
    }

    #content {
        max-width: 100%;
        padding: 0;
    }

    #hero {
        text-align: center;
        background-color: #e1e6ec;
        position: relative;

        .section__content {
            max-width: 1280px;
            display: flex;
            padding-bottom: 0;

            @media #{variables.$lt-md} {
                flex-direction: column;
                padding: 0;
            }
        }

        .hero-image {
            flex-basis: 40%;
            background-image: url('https://static.sayes.ru/images/speaking-club/hero.png');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position-x: center;
            background-position-y: 0%;

            @media #{variables.$lt-md} {
                flex-basis: unset;
                order: 1;
                width: 100%;
                height: 400px;
                background-size: 400px;
            }
        }

        .hero-content {
            flex: 1;
            padding: 8rem 0;
            text-align: left;

            @media #{variables.$lt-md} {
                padding: 2rem 1rem;
                text-align: center;
            }
        }

        .hero-title {
            @media #{variables.$lt-md} {
                @include typography.typography('headline4');
            }
        }

        .hero-subtitle {
            @media #{variables.$lt-md} {
                @include typography.typography('headline6');
            }
        }

        .hero-button {
            @include button.height(48px);
            @include button.horizontal-padding(24px);
        }
    }

    #about {
        text-align: center;

        .mdc-layout-grid {
            margin-top: 2rem;
        }
    }

    #reasons {
        background-color: $section-grey-color;

        .icon-block {
            .icon-block__image {
                width: 48px;
                opacity: .5;
            }
        }
    }

    #steps {
        .section__content {
            max-width: 1280px;

            .mdc-layout {
                flex-wrap: wrap;
            }
        }

        .icon-block {
            flex: 1;
            padding: 0 1rem;
            text-align: left;

            @media #{variables.$lt-md} {
                flex-basis: 100%;
            }

            .icon-block__image {
                width: 48px;
                opacity: .5;
            }

            &:not(:last-child) {
                &:after {
                    content: '';
                    display: block;
                    width: 32px;
                    height: 32px;
                    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGZSURBVHhe7ZkBcoJADEW5RHv/u9BOaxeYbdXztImThSWyBWQRNP/NZFqyceH9itWxAAAAAAAAO6Jpmpeqqr6cc7X3/lXaNhD5I9UvF4VwNhOCkuefl99NhKDl+TjuPX0IJEienby0e8E8dQgkeBgKgDERAkuSnEcIzn1LCCeEgBAQAkKIQ9CSlkL4QQgIASEgBCaWRAgJSYRAzA6BBt95OFFvMpZrLnuRZC2nbpkVQrzZUMlYtrncRYKlnLrH5BDCRnLYovtL57ZgUgipC9b9pXNboUKopN2RumDdXzq3FSqAT2l3pC5Y95fObYGS93wsSx3hglMlY9nmVqj2P1DMJHmGFstos17xmoxlmVuj6HxX9/Vk+UdEyY29EYK8LP0PPYDfvfXupT31GJE7UfFTf+zD0Ly/vGzae+XeU29VeUY2XlXi1t7q8gw9sOSSwwt76N1Ffq+wLOQhP/rFCORl6fExL09SZ8iTpCl5hsQas/IMidVDAZiQZ2LREIIZ+YAOwZR8QIVgSz4gIRxI/sOcPAAAAADAfSiKPzG/P1aQfZ1BAAAAAElFTkSuQmCC');
                    background-size: contain;
                    position: absolute;
                    top: 12%;
                    right: 32px;

                    @media #{variables.$lt-md} {
                        transform: rotateZ(90deg);
                    }
                }
            }
        }
    }

    #meetings {
        background-color: $section-grey-color;

        .mdc-card {
            .mdc-card__header__secondary-text {
                &::first-letter {
                    text-transform: capitalize;
                }
            }
        }

        .notice {
            margin-top: 2rem;
            text-align: center;

            img {
                max-width: 128px;
            }
        }
    }

    #prices {
        background-image: $section-purple-color;
        color: white;;
        text-align: center;

        .plan-card {
            max-width: 360px;
            margin: 0 auto 2rem;

            img {
                max-width: 96px;
            }
        }
    }

    #hosts {
        .section__content {
            background-image: url('https://sayes.ru/wp-content/uploads/2018/11/speakers.png');
            background-repeat: no-repeat;
            background-size: auto 70%;
            background-position: 20% bottom;

            @media #{variables.$lt-md} {
                background-image: none;
            }
        }

        .section-title {
            margin-bottom: 6rem;

            @media #{variables.$lt-md} {
                margin-bottom: 2rem;
            }
        }
    }

    #video {
        background-color: $section-grey-color;

        .mdc-card {
            max-width: 640px;
            margin: auto;
            overflow: hidden;

            .mdc-card__media {
                &::before {
                    margin-top: 50%;
                }
            }

            iframe {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }

    #testimonials {
        background-color: #ede1e1;
        background-image: url('https://static.sayes.ru/images/backgrounds/pattern.png');
        background-size: 256px;

        .slider {
            max-width: 640px;
            margin: auto;
        }

        .testimonial-card {
            margin: 1rem;

            .mdc-card__header,
            .mdc-card__section {
                padding: 2rem;
            }

            .mdc-card__header {
                padding-bottom: 1rem;

                .mdc-card__header__graphic {
                    width: 56px;
                    height: 56px;
                    border-radius: 50%;
                }

                .mdc-card__header__text {
                    margin-right: .5rem;
                }
            }

            .mdc-card__section {
                padding-top: 0;
            }
        }

        .slick-arrow {
            font-size: 2rem;

            &::before {
                content: none;
            }

            .fa {
                color: transparentize(variables.$primary-color, .25);

                &:hover {
                    color: variables.$primary-color;
                }
            }

            @media #{variables.$lt-md} {
                &.slick-prev {
                    left: -10px;
                }

                &.slick-next {
                    right: -10px;
                }
            }
        }
    }

    #faq {
        background-color: $section-grey-color;

        .mdc-tab-bar {
            margin-bottom: 2rem;
        }

        .tab-panel {
            display: none;

            &.tab-panel--active {
                display: block;
            }
        }

        .faq-card {
            .mdc-card__primary-action.mdc-ripple-upgraded--background-focused::before {
                opacity: 0;
            }

            .mdc-typography {
                margin: 0;
            }

            .mdc-card__section {
                display: none;
            }

            + .faq-card {
                margin-top: 1rem;
            }

            &.faq-card--active {
                .mdc-card__section {
                    display: block;
                }
            }
        }
    }

    #help {
        .section__content {
            display: flex;
            align-items: center;

            @media #{variables.$lt-md} {
                flex-direction: column;
                text-align: center;
            }
        }

        .mdc-typography {
            @media #{variables.$lt-md} {
                margin-bottom: 1rem;
            }
        }

        .mdc-button {
            margin: 0 .5rem;

            @media #{variables.$lt-md} {
                margin: .5rem 0;
            }
        }
    }

    #signup-dialog {
        .mdc-dialog__content {
            .mdc-form-field {
                margin-top: 1rem;
            }
        }

        .mdc-dialog__actions {
            .mdc-typography {
                margin-left: auto;
            }
        }
    }

    #auth-dialog {
        .mdc-dialog__title {
            padding: 0;

            &::before {
                content: none
            }
        }

        .mdc-dialog__content {
            padding-top: 1rem;
        }
    }
}