extends /shared/views/layouts/shared

append main
    main#content
        +mdc-typography(title)(element='h1' style='headline4')
    
        +mdc-card
            +form()(method='post')
                +mdc-card__section()(secondary)
                    +mdc-text-field('password')(
                        type='password'
                        placeholder='Новый пароль'
                        minlength='6'
                        maxlength='128'
                        fullwidth
                        required
                    )
                
                +mdc-card__actions
                    +mdc-card__button('Сохранить')(type='submit')