.root {
    position: relative;
}

.header {
    display: flex;
    flex-direction: column;
}

.body {
    position: relative;
}

.search {
    flex: 1;
    padding: 8px;
    border-bottom: 1px solid var(--joy-palette-divider);
}

.toolbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--joy-palette-divider);
}

.select {
    flex-shrink: 0;
}

.loader {
    margin: 1rem;
}

.dialog {
    --ModalDialog-minWidth: 640px;
}