.root {
    position: relative;
}

.header {
    display: flex;
    flex-direction: column;
}

.body {
    position: relative;
}

.search {
    flex: 1;
    padding: 8px;
    border-bottom: 1px solid var(--joy-palette-divider);
}

.toolbar {
    &:not(:empty) {
        padding: 4px 12px;
        border-bottom: 1px solid var(--joy-palette-divider);
    }
}

.loader {
    margin: 1rem;
}

.dialog {
    --ModalDialog-minWidth: 640px;
}