.exercise-item-form {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .12);
    border-radius: 4px;

    > .text-editor {
        &:not(:first-child) {
            border-top: 1px solid rgba(0, 0, 0, .12);
        }
    }

    .ui-list {
        .ui-list__item {
            padding: 0 .5rem;
            min-height: 2rem;

            .ui-checkbox {
                display: flex;
            }
        }
    }

    &--audio {}

    &--video {}

    &--image {
        .exercise-item-form__image-wrapper {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: black;
                opacity: 0;
                transition: opacity .2s;
                cursor: pointer;
            }

            &::after {
                content: 'Выбрать файл';
                width: 100%;
                height: 100%;
                display: flex;
                position: absolute;
                align-items: center;
                justify-content: center;
                top: 0;
                left: 0;
                color: white;
                opacity: 0;
                transition: opacity .2s;
                cursor: pointer;
            }

            &:hover {
                &::before {
                    opacity: .5;
                }

                &::after {
                    opacity: 1;
                }
            }
        }
    }

    &--fib {}

    &--input {
        .ui-input {
            margin-bottom: 8px;
        }

        .ui-label {
            + .ui-label {
                margin-left: 4px;
            }
        }

        .ui-text ~ input {
            flex: 1;
            border: none;
            outline: none;
        }
    }

    &--text {}

    + .exercise-item-form {
        margin-top: 1rem;
    }
}