.root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.list {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item {
    min-height: 40px;
    border-radius: var(--joy-radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: .5rem 1rem;
}

.draggingItem {
    opacity: 0;
}

.activeItem {
    background-color: var(--joy-palette-primary-100);

    &:hover {
        background-color: var(--joy-palette-primary-200);
    }
}

.actions {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.button {
    width: 200px !important;
}