@use 'shared/styles/variables';

.root {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.imageField {
    max-width: 480px;
}

.exampleText {}

.exampleTranslation {
    margin-left: 2.7rem;
}

// TODO: не лучшее название
.notificationConfirmation {
    margin: 10px 0 0; 
    gap: 10px;

    p {
        margin: 0;
    }
}

.notification {
    margin: 10px 0 0;
    // TODO: не уверен что цвет подходящий
    color: variables.$secondary-color;
}

.foundLexeme {
    color: variables.$pink;
}