@use 'shared/styles/variables';

.root {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.imageField {
    max-width: 480px;
}

.exampleText {}

.exampleTranslation {
    margin-left: 2.7rem;
}

.notification {
    color: variables.$error-color;
}

.lexeme {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 10px;
}