.root {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.example {
    display: flex;
    gap: 8px;
    align-items: flex-start;
}

.input {
    --Input-minHeight: auto !important;
    --Input-paddingInline: 4px !important;
    --Input-focusedThickness: 1px !important;
}