.image-section {
    input[type="file"] {
        display: none;
    }

    .ui-image {
        display: block;
        width: auto;
        max-width: 100%;
        margin: auto;
    }
}

.image-upload-dialog {
    .ui-image {
        display: block;
        width: auto;
        max-width: 100%;
    }

    p.ui-text {
        margin-bottom: 4px;
    }
}