.modal__header {
    padding: 15px;
}


#app {
    padding: 15px;
    // max-width: 640px;
    // margin: 0 auto;
    // background-color: red;

    &:empty:before {
        content: 'Загрузка...';
        display: block;
        text-align: center;
    }
}


.flex { display: flex; }
.column { flex-direction: column;}
.align-center { align-items: center; }
.justify-center { justify-content: center; }
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-between { justify-content: space-between; }
.fill { flex: 1; }
.position-center {  margin: auto; }

.margin-auto { margin: 0 auto; }
.margin-bottom-xl { margin-bottom: 40px; }
.padding-top-xxxl { padding-top: 80px; }

.club-card {
    padding: 20px;
    justify-content: space-between;

    .col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
        width: 50%;

        &:last-child {
            width: 30%;
            text-align: right;
        }
    }
}

.pack-info {
    display: flex;
    justify-content: space-between;
}

.success-img {
    width: 200px;
    height: 200px;
}

.radio {
    &__label {
        display: flex;;
    }
}

.main {
    flex: 1;
}

#payment:empty:before {
    content: 'Загрузка...';
    display: block;
    text-align: center;
}

#success img {
    max-width: 200px;
    margin-bottom: 2rem;
}