p
    b Полное наименование: 
    = data.requisites.name
p
    b Юридический адрес: 
    = data.requisites.address
p
    b ИНН: 
    = data.requisites.inn
p
    b ОГРНИП: 
    = data.requisites.ogrnip
p
    b р/с: 
    = data.requisites.rs
p
    b Банк: 
    = data.requisites.bank
p
    b БИК: 
    = data.requisites.bik
p
    b к/с: 
    = data.requisites.ks
p
    b Email: 
    = data.requisites.email