.audio-field {
    input[type="file"] {
        display: none;
    }

    .ui-input {
        width: 100%;
    }

    .audio-player {
        border: 1px solid rgba(0,0,0,.38);
        border-radius: 0 0 4px 4px;
        border-top: 0;
    }
}