@use 'shared/styles/variables';

#pay-page {
    .page-header {
        text-align: center;
    }

    .plan-grid {
        margin-bottom: 2rem;
    }

    .switch {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 2rem auto 1rem;

        .mdc-switch {
            position: relative;

            &::before {
                content: 'Русскоговорящий';
                position: absolute;
                color: white;
                font-family: 'Nunito';
                left: -150px;
                top: -3px;
                opacity: 1;
                transition: opacity .2s;
            }
    
            &::after {
                content: 'Носитель';
                position: absolute;
                color: white;
                font-family: 'Nunito';
                top: -3px;
                right: -87px;
                opacity: .5;
                transition: opacity .2s;
            }

            .mdc-switch__thumb {
                background-image: url(https://static.sayes.ru/images/flags/ru.svg);
                background-size: contain;
                background-position: center;
                border: none;
            }
        }

        &.switch--native {
            .mdc-switch {
                &::before {
                    opacity: .5;
                }
    
                &::after {
                    opacity: 1;
                }

                .mdc-switch__thumb {
                    background-image: url(https://static.sayes.ru/images/flags/gb.svg);
                }
            }
        }
    }

    .notice {
        max-width: 720px;
        margin: auto;
        text-align: center;
    }
}