extends ./layout

block main
    article.article
        h1 Политика конфиденциальности

        p Настоящим я даю согласие ИП Письменной Ольге Владимировне, ОГРНИП 319774600529855 (далее – Оператор) на обработку своих персональных данных, указанных в анкете, в рамках Федерального закона № 152-ФЗ от 27.07.2006 г.

        p Конфиденциальность персональных данных соблюдается Оператором в соответствии с требованиями законодательства РФ. Настоящее согласие дается мной на весь срок моей жизни и может быть отозвано мною в любое время путем передачи Оператору моего уведомления.

        p Настоящим я выражаю свое согласие предоставлять Оператору право направлять мне информационные сообщения, в т.ч. содержащие информацию маркетингового характера, по указанным мной адресам и номерам мобильных телефонов.

        p Уважаемые подписчики,<br>Внести изменения или удалить ранее предоставленную Вами контактную информацию, а также отказаться от дальнейших контактов и новостей от нашей компании Вы можете через звонок на горячую линию +7 499 650-53-47 или по электронной почте <a href="mailto:#{CONTACT_EMAIL}">#{CONTACT_EMAIL}</a>.