body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-top: 65px;
}

.header {
    --header-background-color: rgba(241, 243, 244, .75);
    --header-font-color: var(--primary-color);
    --header-border-radius: 0;
    --header-blur: 5px;
}

.footer {
    --footer-padding: 20px 60px;
    --footer-background-color: transparent;

    margin-top: auto;
}