.DateTimeSelect {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__fields {
        margin-right: auto;
    }
}

.DateTimeSelectItem {
    display: flex;
    align-items: center;
    gap: .25rem;
    margin-bottom: .5rem;

    .fui-Input {}

    .fui-Button {}
}