.lesson-exercises {
    max-width: 960px;
    margin: auto;

    > header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    .mdc-fab {
        position: fixed;
        bottom: 24px;
        right: 24px;
    }
}