@use '@material/typography';

.breadcrumbs {
    &__item {
        & + &:before {
            display: inline-block;
            content: '›';
            margin: 0 8px;
        }

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}