@use 'shared/styles/mixins';

.root {
    height: 100dvh;
    margin-left: var(--AppBar-width);
    overflow-x: hidden;
    overflow-y: auto;

    @include mixins.breakpoint(lt-lg) {
        padding: 0;
    }
}