.exercise-form {
    .mdc-layout-grid {
        padding: 0;
    }

    .mdc-text-field,
    .mdc-select {
        width: 100%;
    }

    .text-editor {
        height: 100%;
    }

    .elements-label {
        margin: 1rem 0;
    }

    .new-item-button {
        width: 100%;
    }

    .exercise-item {
        .mdc-text-field {
            margin: 0;
        }

        &.mdc-list-item {
            height: auto;
            min-height: 48px;
            align-items: flex-start;
            padding-top: 6px;
            padding-bottom: 6px;

            .mdc-list-item__content {
                pointer-events: all;
            }

            .mdc-text-field {
                width: 100%;
            }
        }

        + .exercise-item {
            margin-top: 8px;
        }

        + .new-item-button {
            margin-top: 1rem;
        }
    }

    &--boolean {

    }

    &--choice {    

    }

    &--fib {

    }

    &--text {
        .mdc-card {
            margin-top: 1rem;
        }
    }

    &--input {
        .exercise-item {
            > .mdc-text-field {
                margin-bottom: .5rem;
            }

            .mdc-form-field {
                margin: 0;
                flex-shrink: 0;

                label {
                    margin-left: 0;
                    flex-shrink: 0;
                    align-self: center;
                }

                .mdc-evolution-chip-set {
                    flex-shrink: 0;
                }

                .mdc-text-field {
                    margin: 0;
                    padding: 0;
                    margin-left: 8px;
                }
            }
        }
    }
}