@use 'shared/styles/variables';

.sheet {
  border: 1px solid lighten(variables.$text-color, 50%);
  border-radius: 10px;
}

.form {
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 5px;
}
