.page.course-page,
.page.unit-page,
.page.lesson-page,
.page.exercise-page {
    .page-header {
        &__inner {
            max-width: 1024px;
            padding-bottom: 1rem;
        }
    }
    
    .page-content {
        max-width: 1024px;
        padding-top: 1rem;
    }
}