@use 'shared/styles/mq';

.root {
    position: relative;
}

.list {
    
}

.item {
    &_active {
        --Tab-indicatorColor: var(--joy-palette-primary-plainColor) !important;

        position: relative;
    }

    &__text {
        color: inherit !important;
        
        @include mq.to(m) {
            display: none !important;
        }
    }
}

.horizontal {
    .list {
        gap: 8px;
    }

    .item {
        border-radius: 12px !important;
    }
}

.vertical {
    .item {
        --ListItem-paddingRight: 0.25rem;
        --ListItem-paddingLeft: 0.25rem;

        text-align: center;

        &__icon {
            font-size: 1.5rem;
        }

        &__text {
            width: 100%;
        }
    }
}