.NavBar {
    .ui-TabList {
        overflow: hidden;
    }

    .NavBarItem {
        padding-left: 4px;
        padding-right: 4px;
        text-align: center;
    
        &__icon {
            font-size: 1.5rem;
        }
    
        &__text {
            width: 100%;
        }

        &--active {
            --Tab-indicatorColor: var(--joy-palette-primary-500) !important;
        }
    }
}