.form-dialog {
    &.ui-dialog {
        max-height: calc(100vh - 64px);
        overflow: hidden;

        .ui-dialog__content {
            overflow-y: auto;
            overflow-x: hidden;

            .ui-form {
                display: block;
            }
        }
    }

    input[type='submit'] {
        display: none;
    }
}