@use 'sass:color';
@use '@material/line-ripple';
@use '@material/theme/variables';

$bottom-line-idle-color: rgba(variables.prop-value(on-surface), 0.42) !default;
$bottom-line-hover-color: rgba(variables.prop-value(on-surface), 0.87) !default;

.combo-box {
    display: flex;
    flex-direction: column;
    position: relative;

    &__anchor {
        display: inline-flex;
    }

    .combo-box__input {
        flex: 1;
        flex-basis: 48px;
        display: inline-block;
        caret-color: auto;
        white-space: pre-wrap; 
        outline: none;
        font-size: 1rem;
    }

    @include line-ripple.core-styles;
    @include line-ripple.inactive-color($bottom-line-idle-color);
}