@use 'shared/styles/normalize';
@use 'shared/styles/variables';

* {
    box-sizing: border-box;
}

html {
    font-family: variables.$font-family;
    font-size: variables.$font-size;
    font-weight: variables.$font-weight;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: variables.$body-color;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    //color: variables.$heading-color;
    margin-top: 0;
    margin-bottom: .5em;
}

p {
    //color: variables.$text-color;
    margin-top: 0;

    a {
        color: variables.$secondary-color;

        &:hover {
            text-decoration: underline;
        }
    }
}

ul, ol, dl {
    //color: variables.$text-color;
}

a {
    color: inherit;
    text-decoration: none;
}

blockquote {
    line-height: 1.35;
}

mark {
    background-color: #f4ff81;
}

hr {
    height: 1px;
    width: 100%;
    border: none;
    border-top: solid 1px rgba(0, 0, 0, 0.12);
}

::-moz-selection {
    color: white;
    text-shadow: none;
    background: variables.$primary-color;
}

::selection {
    color: white;
    text-shadow: none;
    background: variables.$primary-color;
}

img {
    max-width: 100%;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    height: 56px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-clip: content-box;
    background-color: rgba(0, 0, 0, 0.2);

    &:hover {
        background-color: rgba(0, 0, 0, 0.3);
    }
}

::-webkit-scrollbar-track {
    background: transparent;
}

.material-icons {
    font-family: 'Material Symbols Rounded';
}

.ui-Popper-root {
    z-index: 1;
}