if flash.info
    for message in flash.info
        div.flash.alert.alert-danger= message

if flash.error
    for message in flash.error
        div.flash.alert.alert-danger= message

if flash.success
    for message in flash.success
        div.flash.alert.alert-danger= message