footer#footer.p-3
    ul.nav.justify-content-center.mb-3
        li.nav-item
            a.nav-link.px-2.text-muted(href="/agreement") Пользовательское соглашение
        li.nav-item
            a.nav-link.px-2.text-muted(href="/policy") Политика конфиденциальности
        li.nav-item
            a.nav-link.px-2.text-muted(href="/rules") Правила использования

    p.text-center.text-muted.mb-0 © #{new Date().getFullYear()} SAY YES!, Все права защищены