footer#footer
    ul.nav.justify-content-center.border-bottom.pb-3.mb-3
        li.nav-item
            a.nav-link.px-2.text-muted(href="/agreement") Пользовательское соглашение
            a.nav-link.px-2.text-muted(href="/policy") Политика конфиденциальности
            a.nav-link.px-2.text-muted(href="/rules") Правила использования

    p.text-center.text-muted = © 2013 - #{new Date().getFullYear()} SAY YES!, Все права защищены