#header
    nav.navbar.navbar-expand-lg.text-bg-primary
        div.container-fluid
            a(href='/').navbar-brand
                img(src='https://static.sayes.ru/images/logos/sayyes-white.png')

            a.nav-link.ms-auto(href='/') Войти