extends /shared/layouts/base

block head
    link(rel="stylesheet" href="/css/main.css")

    block styles
    
block body
    include /shared/includes/header

    include /shared/includes/flash

    main#content
        block main
    
    include /shared/includes/footer
    
    //include ./includes/login-dialog
    
    script.
        document.querySelector('#request-dialog').addEventListener('submit', function() {
            ym('#{YANDEX_METRIKA_ID}', 'reachGoal', 'callback');
            gtag('event', 'click', { event_category: 'callback' });
            fbq('track', 'Lead_club');

            return true;
        });

        document.querySelector('#contact-dialog').addEventListener('submit', function() {
            ym('#{YANDEX_METRIKA_ID}', 'reachGoal', 'feedback');
            gtag('event', 'click', { event_category: 'feedback' });
            fbq('track', 'Lead_club');

            return true;
        });

        document.querySelector('#register-form').addEventListener('submit', function() {
            ym('#{YANDEX_METRIKA_ID}', 'reachGoal', 'ticket');
            gtag('event', 'click', { event_category: 'ticket' });
            fbq('track', 'Lead_club');

            return true;
        });

    block scripts