.audio-content {
    .audio-player {
        flex: 1;

        .plyr__controls {
            padding: 0;
        }
    }

    .audio-script {
        max-height: 480px;
        overflow: auto;
    }
}