extends /shared/layouts/app

append head
    // link(rel="stylesheet" href="/css/crm.vendors.css")
    link(rel="stylesheet" href="/css/crm.main.css")

append body
    script(src="/js/crm.vendors.js")
    script(src="/js/crm.main.js")