mixin flash-banner(text)
    +mdc-banner(text)(
        class='flash-banner'
        class={
            'flash-banner--info': attributes.info,
            'flash-banner--error': attributes.error,
            'flash-banner--success': attributes.success
        }
        icon=attributes.icon
        data-open
    )
        +mdc-icon-button('close').flash-banner__dismiss