.modal {
    .modal-header {
        border-bottom: none;
        padding-bottom: .5rem;
    }

    .modal-body {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

    .modal-footer {
        border-top: none;
    }
}