@use 'shared/styles/variables';

.ui-table {
    width: 100%;

    &__cell {
        a {
            color: variables.$primary-color;
    
            &:hover {
                text-decoration: underline;
            }
        }

        &--actions {
            justify-content: flex-end;
        }
    }
}