.posts-feed {
    .new-post-card {
        overflow: visible;

        .mdc-card__actions {
            justify-content: space-between;
        }
    }

    .empty-state {
        margin-top: 2rem;
    }
}