@use 'styles/variables';

.calendar {
    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5rem;

        .mdc-icon-button,
        .mdc-select {
            margin: 0 4px;
        }

        .mdc-select {
            .mdc-select__anchor {
                width: auto;
                background-color: transparent;
            }

            .mdc-line-ripple {
                display: none;
            }
        }
    }
}

.calendar--month-view {
    .mdc-data-table {
        width: 100%;
        border: none;
    }

    table {
        border-spacing: 0;

        th {
            vertical-align: middle;
            text-align: center;
            height: 36px;
        }

        tr {
            &:hover {
                background-color: unset;
            }
        }

        td {
            padding: 0;
            vertical-align: middle;
            text-align: center;
            border-right: 1px solid #e0e0e0;
            
            &:last-child {
                border-right: none;
            }
        }
    }

    .calendar__day {
        position: relative;

        &:hover {
            background-color: #eaeaea;
            cursor: pointer;
        }

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border: 3px solid transparent;
            box-sizing: border-box;
        }

        &.calendar__day--today {
            &::before {
                border: 3px solid variables.$primary-color;
            }
        }

        &.calendar__day--selected {
            border: 1px solid variables.$primary-color;
        }

        &.calendar__day--today.calendar__day--selected {
            border: 2px solid lightgray;
        }

        .calendar__day-label {
            position: absolute;
            top: 6px;
            right: 8px;
        }
    }
}

.calendar--week-view {
    .mdc-data-table {
        border: none;

        .mdc-data-table__table {
            width: 100%;
        }

        &__header-cell {
            text-align: center;

            &.today {
                border-bottom: solid 3px #6c167b;
            }
        }

        &__cell {
            padding: 8px;

            &:first-child {
                text-align: center;
            }

            // &:not(:first-child) {
            //     width: calc(100% / 7);
            // }

            &:not(:last-child) {
                border-right: 1px solid rgba(0, 0, 0, 0.12);
            }
        }

        .mdc-chip {
            width: 100%;
            text-decoration: none;

            .mdc-chip__text {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}