.exercise-item {
    .exercise-item__item + .exercise-item__item {
        margin-top: .5rem;
    }

    .audio-content,
    .video-content {
        margin-bottom: 1rem;
    }

    .text-content {
        line-height: 1.5;

        p {
            margin-bottom: 0.75rem;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
        
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &--image {
        img {
            border-radius: 4px;
        }
        
        figure {
            margin: auto;

            figcaption {
                margin-top: 4px;
            }
        }
    }

    &--images {
        .ui-carousel__item {
            width: 100%;
        }
    }

    &--boolean,
    &--choice {
        .ui-list {
            &__item {
                padding: 0 .5rem;
                min-height: 1rem;

                .ui-list__itemendmedia,
                &:hover .ui-list__itemendmedia {
                    display: block;
                }
            }
        }

        .ui-checkbox {
            display: flex;
        }
    }

    &--essay {
        .text-editor {
            border: 1px solid rgba(0, 0, 0, .12);
            border-radius: 4px;
        }
    }

    &--fib {
        position: relative;

        .text-editor {
            margin-right: 36px;
            border: 1px solid rgba(0, 0, 0, .12);
            border-radius: 4px;
        }

        .ui-button {
            position: absolute;
            top: 0;
            right: 0
        }
    }

    &--input {
        .ui-input {
            margin-bottom: 8px;
        }

        .ui-flex {
            label {
                flex: none;
                margin-right: 8px;
            }

            .ui-label {
                + .ui-label {
                    margin-left: 4px;
                }
            }

            input {
                flex: 1;
                margin-left: 8px;
                border: none;
                outline: none;
            }
        }
    }

    table {
        margin: auto;
        border-collapse: collapse;

        td, th {
            min-width: 2em;
            padding: .4em;
            // border: 1px solid #bfbfbf;
        }
    }
}