.TextEditor {
    .ck-editor {
        --ck-border-radius: 4px;

        .ck-toolbar {
            border: none;
            border-radius: 10px 10px 0 0;
            border-bottom: 1px solid rgba(0,0,0,.12) !important;
        }

        .ck-content {
            padding: 0 1rem;
            border: none !important;
            box-shadow: none !important;

            p {
                line-height: 1.5;
                margin-bottom: 0.75rem;
            }
        }

        .ck-sticky-panel {
            .ck-sticky-panel__content_sticky {
                top: 64px;
            }
        }
    }

    .word-bubble {
        background-color: #d3d3d3;
        border-radius: 4px;
        padding: 2px 4px;
        display: inline-block;
        line-height: 1;
    }
}