#meeting-page {
    .meeting-title {
        margin-bottom: 1rem;
    }

    .meeting-description {
        margin-bottom: 0;
    }

    .mdc-top-app-bar {
        .mdc-top-app-bar__row {
            justify-content: center;
        }

        .mdc-top-app-bar__section {
            flex: none;
        }
    }

    .meeting-notice {
        //position: sticky;
        //top: 64px;
    }

    .mdc-text-field {
        width: 100%;

        &:first-child {
            margin-top: 0;
        }
    }

    .mdc-chip-set {
        padding: 0;
        margin-bottom: 1rem;

        .mdc-chip {
            background-color: transparent;
        }
    }

    form.mdc-card {
        position: sticky;
        top: 96px;

        .mdc-card__action {
            width: 100%;
        }
    }
}