extends base

append meta
    meta(name="robots" content="noindex, nofollow")

append body
    div#root

    script.
        window.CSRF_TOKEN = '#{CSRF_TOKEN}';
        window.TWILIO_CHAT_TOKEN = '#{TWILIO_CHAT_TOKEN}';
        window.TWILIO_VIDEO_TOKEN = '#{TWILIO_VIDEO_TOKEN}';
        window.TWILIO_SYNC_TOKEN = '#{TWILIO_SYNC_TOKEN}';