extends base

append head
    link(rel="stylesheet" href="https://static.sayes.ru/css/shared.css")

block body
    include ../includes/header

    include ../includes/flash

    block main

    include ../includes/footer