extends base

append head
    link(rel="stylesheet" href=`${STATIC_URL}/styles/shared.css`)

block body
    include ../includes/header

    include ../includes/flash

    block main

    include ../includes/footer

    script(src=`${STATIC_URL}/scripts/shared.js`)