@use '@material/typography';
@use '@material/theme';
@use 'shared/styles/variables';

.icon-block {
    position: relative;
    text-align: center;

    @media #{variables.$sm} {
        margin-bottom: 1rem;
    }

    .icon-block__icon {
        @include theme.prop(color, text-secondary-on-light);

        display: block;
        font-size: 3rem;
    }
    
    .icon-block__image {
        max-width: 64px;
    }

    .icon-block__title {
        @include typography.typography(headline6);
        @include theme.prop(color, text-primary-on-light);
        margin-top: 1rem;
        margin-bottom: .5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .icon-block__subtitle {
        @include typography.typography(subtitle1);
        @include theme.prop(color, text-secondary-on-light);

        &:last-child {
            margin-bottom: 0;
        }
    }

    .icon-block__body {
        @include typography.typography(body1);
    }
}

.mdc-theme--dark .icon-block,
.icon-block.mdc-theme--dark {
    &__icon {
        color: rgba(255, 255, 255, 0.5);
    }

    &__subtitle {
        color: rgba(255, 255, 255, 0.7);
    }
}

.icon-block.icon-block--horizontal {
    display: flex;
    align-items: flex-start;
    text-align: left;

    .icon-block__image,
    .icon-block__icon {
        @include theme.prop(color, secondary);
        display: inline-block;
        font-size: 2rem;
        vertical-align: middle;
        margin-right: 16px;
    }

    .icon-block__title {
        @include typography.typography(headline6);
        display: inline-block;
        margin-top: 0rem;
        margin-bottom: .5rem;
    }

    .icon-block__subtitle {
        @include typography.typography(subtitle2);
        margin-left: 48px;
    }
}