extends /server/layouts/app

append head
    link(rel="stylesheet" href="/build/admin.vendors.css")
    link(rel="stylesheet" href="/build/admin.main.css")

append body
    script(src="/build/admin.vendors.js")
    script(src="/build/admin.main.js")