@use 'shared/styles/mixins' as *;

$sidebarWidth: 355px;
$sidebarMobileHeight: 90px;
$sidebarMobilePadding: 8px;
$participantBorderWidth: 2px;
$totalMobileSidebarHeight: $sidebarMobileHeight + ($sidebarMobilePadding * 2) + $participantBorderWidth;

.room-content {
    display: grid;
    grid-template-columns: 1fr 355px;
    grid-template-rows: 100%;

    @include breakpoint(sm) {
        grid-template-columns: 100%;
        grid-template-rows: 1fr auto;
    }

    .main-participant-info {
        &--fullwidth {
            grid-area: 1 / 1 / 2 / 3;
        }
    }

    .participant-list {
        grid-area: 1 / 2 / 1 / 3;

        @include breakpoint(lt-md) {
            grid-area: 2 / 1 / 3 / 3;
        }
    }
}