@use 'shared/styles/variables';
@use 'mdc-react/src/SideSheet/mixins';

.page-side-sheet {
    @include mixins.width(360px);

    &.mdc-side-sheet--dismissible {
        position: fixed;
        top: 64px;
        height: calc(100% - 64px);

        @media #{variables.$lt-md} {
            top: 56px;
            height: calc(100% - 56px);
        }
    }
}