@use 'shared/styles/variables';

.root {
    &:not(:last-of-type) {
        border-bottom: 1px solid var(--joy-palette-divider);
    }
}

.content {
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 8px;
    cursor:pointer;
}

.value {
    font-weight: 900;
    overflow: hidden;
    text-overflow: ellipsis;
}

.translation {
    overflow: hidden;
    text-overflow: ellipsis;
}

.actions {
    display: flex;
    align-items: center;
    gap: 4px;
}