@use 'shared/styles/variables';

.root {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-height: 640px;
  padding: 0 30px;
}

.content {
    display: flex;
    gap: 20px;
}

.image {
    width: 200px;
    height: 200px;
    border: 5px solid var(--joy-palette-divider);
    border-radius: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.value {

}

.definition {
}

.translations {
}

.example {
  &:not(:last-of-type) {
    border-bottom: 1px solid var(--joy-palette-divider);
  }
}