#account-page {
    max-width: 1024px;
    margin: auto;

    .mdc-tab-bar {
        margin-bottom: 2rem;
    }

    #profile-form {
        input[type='file'] {
            display: none;
        }

        .filename {
            margin-left: .5rem;
        }
    }
}