#account-page {
    .page-header {
        &__inner {
            text-align: center;
        }

        &__title {
            margin-bottom: 1rem;
        }

        &__graphic {
            width: 72px;
            height: 72px;
            margin-bottom: 1rem;
            border: 3px solid white;
            box-sizing: content-box;

            .mdc-avatar__text {
                line-height: 72px;
            }
        }
    }

    .page-content {
        max-width: 720px;
        margin: auto;
        padding: 2rem 1rem;
    }

    #profile-form {
        input[type='file'] {
            display: none;
        }

        .filename {
            margin-left: .5rem;
        }
    }
}