@use 'shared/styles/mixins' as *;

.ParticipantList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    overflow-y: auto;
    z-index: 1;

    @include breakpoint(lt-md) {
        display: flex;
        flex-direction: row;
        padding: .5rem;
        overflow-y: initial;
        overflow-x: auto;
    }

    &--transparent-background {
        background: transparent;
    }
}