@use '@material/icon-button';

.chat {
    display: flex;
    flex-direction: column;
    background-color: #222;

    .mdc-circular-progress {
        margin: auto;
    }

    .message-list {
        flex: 1;
        display: flex;
        list-style: none;
        flex-direction: column;
        justify-content: flex-end;
        margin: 0;
        padding: 1rem;
        overflow-y: auto;
        overflow-x: hidden;

        .message {
            display: flex;
            position: relative;
            align-items: flex-start;
        
            &__text {
                position: relative;
                display: inline-block;
                //max-width: 210px;
                background-color: white;
                color: #414141;
                padding: 8px 10px;
                border-radius: 6px;
                white-space: pre-line;
                box-shadow: 0 1px 2px 0 rgba(0,0,0,.26);
            }

            &__time {
                font-size: 10px;
                color: rgba(255, 255, 255, 0.54);
                margin-top: 4px;
            }

            // &::after {
            //     content: "";
            //     position: absolute;
            //     border-top: 10px solid white;
            //     top: -4px;
            //     box-shadow: 0 -1px 2px -1px rgba(0,0,0,.26);
            //     transform: rotate(135deg);
            // }

            &--local {
                align-self: flex-end;

                .message__time {
                    margin-right: 8px;
                }

                .message__text {
                    background-color: rgb(215, 187, 220);
                }

                // &::after {
                //     border-right: 10px solid transparent;
                // }
            }

            &--remote {
                align-self: flex-start;

                .message__time {
                    margin-left: 8px;
                }

                .message__text {
                    background-color: white;
                    order: -1;
                }
            }

            &--system {
                align-self: center;
            }

            + .message {
                margin-top: 8px;
            }
        }
    }

    .message-form {
        display: flex;
        margin-top: auto;
        border-top: 1px solid rgba(255, 255, 255, .12);
        background-color: #222;
        padding: 4px;

        input {
            flex: 1;
            border: none;
            padding: 8px;
            outline: none;
            background-color: #222;
            color: white;
        }

        .mdc-icon-button {
            @include icon-button.ink-color(#e71985);
        }
    }
}