.ui-Accordion {

}

.ui-AccordionItem {
    &__header {
        box-sizing: border-box;
        display: flex;
        align-items: center;

        &-text {
            font-size: .75rem;
            font-weight: var(--joy-fontWeight-lg);
            font-family: var(--joy-fontFamily-body);
            letter-spacing: var(--joy-letterSpacing-md);
            text-transform: uppercase;
            color: var(--joy-palette-text-tertiary);
        }
    }
}