.upload-photo {
    position: relative;
    cursor: auto;
    width: 280px;
    height: 363px;
    max-width: 100%;
  }
  
  .fam-size-s .upload-photo {
    width: 280px;
    height: 363px;
    /* width: 237px;
    height: 308px; */
    margin: 0;
  }
  
  .upload-photo__input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
  
  .upload-photo__empty {
    width: 100%;
    height: 100%;
    display: block;
    border: 1px dashed #31ac52;
    border-radius: 16px;
    background-color: #f1fbf4;
    background-image: url('../../images/icons/camera.svg');
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .upload-photo_disabled .upload-photo__empty {
    cursor: default;
    pointer-events: none;
  }
  
  .upload-photo__loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #fff;
    box-sizing: border-box;
    cursor: default;
    align-items: center;
    justify-content: center;
    color: #98979D;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    border-radius: 16px;
  }
  
  .upload-photo__error {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #E8E9EB;
    box-sizing: border-box;
    cursor: default;
    align-items: center;
    justify-content: center;
    color: #DB4437;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    border-radius: 16px;
  }
  
  .upload-photo__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
  
  .upload-photo__actions-button {
    position: absolute;
    right: 7%;
    bottom: 5%;
    background-color: transparent;
    border: none;
    padding: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='24' fill='none'%3E%3Cpath fill='%23D1D1D1' fill-rule='evenodd' d='M17.337 0a2.824 2.824 0 0 1 2.678 1.931l.766 2.304H24a4.235 4.235 0 0 1 4.235 4.236v11.294A4.235 4.235 0 0 1 24 24H4.235A4.235 4.235 0 0 1 0 19.765V8.47a4.235 4.235 0 0 1 4.235-4.236h3.22l.766-2.304A2.823 2.823 0 0 1 10.9 0h6.436Zm0 2.824h-6.438l-.767 2.304a2.823 2.823 0 0 1-2.68 1.93H4.236a1.412 1.412 0 0 0-1.411 1.413v11.294a1.412 1.412 0 0 0 1.411 1.412H24a1.412 1.412 0 0 0 1.412-1.412V8.47A1.412 1.412 0 0 0 24 7.059h-3.219a2.823 2.823 0 0 1-2.678-1.931l-.767-2.304Zm-6.749 10.588a3.53 3.53 0 1 1 7.06 0 3.53 3.53 0 0 1-7.06 0Zm3.53-6.353a6.353 6.353 0 1 0 0 12.705 6.353 6.353 0 0 0 0-12.705Z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    cursor: pointer;
    width: 30px;
    height: 30px;
    z-index: 1;
  }
  
  .upload-photo__actions-menu {
    background: #FFFFFF;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    margin-top: 20px;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 8px 0;
    z-index: 10000;
    overflow: hidden;
  }
  
  .upload-photo__actions-menu-item {
    padding: 12px 24px 12px 16px;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    cursor: pointer;
  }
  
  .upload-photo__actions-menu-item:hover {
    background-color: #4285F4;
    color: #fff;
  }
  