@use '@material/chips';

.enrollment-lessons {
    .mdc-avatar {
        margin: 4px;

        &__text {
            font-size: 1rem;
        }
    }

    .mdc-card {
        .mdc-chip {
            width: 50px;
            transition: width .2s;
            @include chips.shape-radius(4px);

            .mdc-chip__icon--trailing {
                opacity: 0;
                transform: translateX(-50%);
                transition: opacity .1s, transform .2s;
            }

            &:hover {
                width: 72px;

                .mdc-chip__icon--trailing {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
    }
}