@use 'shared/styles/mixins';

.PageContent {
    max-width: 1280px;
    margin: auto;
    padding: 1rem 1rem 6rem;

    > .ui-Grid {
        align-items: flex-start;

        @include mixins.breakpoint(lt-lg) {
            grid-template-columns: 100%;
        }
    }
}