.text-editor {
    border: 1px solid rgba(0,0,0,.38);
    border-radius: 4px;

    .ck-editor {
        --ck-border-radius: 4px;

        .ck-toolbar {
            border: none;
            border-radius: 10px 10px 0 0;
            border-bottom: 1px solid rgba(0,0,0,.12) !important;
        }

        .ck-content {
            padding: 0 1rem;
            border: none !important;
            box-shadow: none !important;

            p {
                line-height: 1.5;
                margin-bottom: 0.75rem;
            }
        }
    }

    .mdc-card & {
        .ck-content {
            border-radius: 0 0 10px 10px !important;
        }
    }
}