extends ../shared/layout

block main
    article.article
        header
            h1 Политика конфиденциальности

            p Настоящий документ «Политика конфиденциальности» (далее — по тексту — «Политика») представляет собой правила использования индивидуальным предпринимателем Письменной Ольги Владимировны, ОГРНИП 319774600529855 (далее — «Правообладатель») Персональной информации Пользователя.

        section
            h2 1. Общие положения

            p 1.1. Настоящая Политика является неотъемлемой частью Пользовательского соглашения (далее — «Соглашение»), размещенного и/или доступного в сети Интернет по адресу: #[a(href=`${CLUB_URL}/agreement`) #{CLUB_URL}/agreement], а также иных заключаемых с Пользователем договоров, когда это прямо предусмотрено их условиями.

            p 1.2. Заключая Соглашение вы свободно, своей волей и в своих интересах даете письменное согласие на следующие способы обработки Персональной информации: запись, систематизация, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ) третьим лицам, в том числе трансграничную передачу на территорию иностранных государств, обезличивание, блокирование, удаление, уничтожение в установленных настоящей Политикой целях с использованием средств автоматизации или без использования таких средств по усмотрению Правообладателя.

            p 1.3. К настоящей Политике, включая толкование ее положений и порядок принятия, исполнения, изменения и прекращения, подлежит применению законодательство Российской Федерации.

            p 1.4. Здесь и далее в Политике используются термины и определения, предусмотренные Соглашением, а также иными заключаемыми с Пользователем Договорами, если иное не предусмотрено настоящей Политикой или не вытекает из ее существа. В иных случаях толкование применяемого в Политике термина производится в соответствии с действующим законодательством Российской Федерации, обычаями делового оборота, или научной доктриной.

        section
            h2 2. Персональная информация

            p 2.1. Под Персональной информацией в настоящей Политике понимается:

            p 2.1.1. Информация, которую Пользователь предоставляет о себе самостоятельно при регистрации, авторизации, а также в процессе дальнейшего использования Сервиса, включая персональные данные Пользователя.

            p 2.1.2. Информация, предоставляемая Пользователем при подписке на информационные рассылки и на получение бесплатных продуктов Правообладателя.

            p 2.1.3. Данные, которые передаются в автоматическом режиме в зависимости от настроек программного обеспечения Пользователя в обезличенном виде.

            p 2.2. Правообладатель вправе устанавливать требования к составу Персональной информации Пользователя, которая должна обязательно предоставляться для использования Сервиса. Если определенная информация не помечена Правообладателем как обязательная, ее предоставление или раскрытие осуществляется Пользователем на свое усмотрение.

            p 2.3. При регистрации Пользователем обязательно указываются имя, фамилия, возраст, город проживания, адрес электронной почты и номер телефона.

            p Дополнительно в целях исполнения заключенного Договора Пользователь также может предоставить следующие персональные данные о себе: логин Skype, уровень знаний английского языка, аватар или фотография, дата рождения, сфера деятельности, интересы.

            p 2.4. При подписке на получение информационной рассылки и бесплатных продуктов Правообладателя Пользователь обязательно указывает свое имя, адрес электронной почты и номер телефона.

            p 2.5. Правообладатель не осуществляет проверку достоверности предоставляемой Персональной информации и наличия у Пользователя необходимого согласия на ее обработку в соответствии с настоящей Политикой, полагая, что Пользователь действует добросовестно, осмотрительно и прилагает все необходимые усилия к поддержанию такой информации в актуальном состоянии и получению всех необходимых согласий субъектов персональных данных.

            p 2.6. Правообладатель в автоматическом режиме собирает следующие обезличенные данные:

            ul
                li данные браузера (тип, версия);
                li данные операционной системы (тип, версия);
                li данные запроса (время, источник перехода, IP-адрес);
                li местоположение Пользователя (города и страны).

            p 2.7. Пользователь осознает и принимает возможность использования на Сайте Правообладателя программного обеспечения третьих лиц, в результате чего такие лица могут получать и передавать указанные в п.2.1.3 данные в обезличенном виде.

            p К указанному программному обеспечению третьих лиц относятся:

            ul
                li cистема определения местоположения (города и страны) Пользователя maxmind.com;
                li cистема web-аналитики Яндекс.Метрика;
                li cистема web-аналитики Рейтинг Mail.Ru;
                li cистема сквозной бизнес-аналитики Roistat.

            p Состав и условия сбора обезличенных данных с использованием программного обеспечения третьих лиц определяются непосредственно их правообладателями.

            p 2.8. Правообладатель не несет ответственность за порядок использования Персональной информации Пользователя третьими лицами, с которыми Пользователь взаимодействует в рамках использования Сервиса.

        section
            h2 3. Цели обработки Персональной информации

            p 3.1. Правообладатель осуществляет обработку, в том числе сбор и хранение только той Персональной информации, которая необходима для заключения и исполнения Договоров с Пользователями.

            p 3.2. Правообладатель вправе использовать Персональную информацию в следующих целях:

            p 3.2.1. Заключения Договоров с использованием Сервиса.

            p Заключение Договора осуществляется в дистанционном порядке посредством обмена электронными документами, которые подписываются простой электронной подписью. При этом роль ключа простой электронной подписи Пользователя может выполнять адрес его электронной почты. Поэтому он запрашивается при регистрации.

            p 3.2.2. Идентификация Пользователя в рамках исполнения обязательств по заключенным с ним Договорам.

            p Личный кабинет Пользователя связан с адресом электронной почты Пользователя.

            p 3.2.3. Исполнение обязательств по заключенным Договорам, включая предоставление Пользователю доступа к Сервису и технической поддержки, использование Пользователем функциональных возможностей Сервиса.

            p Заявки на предоставление доступа к Сервису и обращения в службу поддержки принимаются с использованием программных средств Сайта (формы обратной связи) и электронной почты.

            p 3.2.4. Обеспечение связи с Пользователем в целях информационного обслуживания и улучшения качества Сервиса по заключенным Договорам, в том числе в порядке нотификации с привлечением третьих лиц.

            p Связь с Пользователем осуществляется через электронную почту, Skype или по абонентскому номеру телефона, указанным Пользователем при регистрации или в процессе использования Сервиса.

            p 3.2.5. Отправка информационных рассылок и бесплатных продуктов Правообладателя.

            p Отправка информационных рассылок и продуктов осуществляется через сервис #[a(href="https://www.unisender.com") Unisender]. В данном случае все операции по обработке персональных данных пользователей осуществляются с использованием баз данных, находящихся на территории Российской Федерации.

        section
            h2 4. Требования к защите Персональной информации

            p 4.1. Правообладатель осуществляет хранение Персональной информации и обеспечивает ее охрану от несанкционированного доступа и распространения в соответствии с законодательством Российской Федерации и внутренними правилами и регламентами.

            p 4.2. В отношении Персональной информации Пользователя сохраняется ее конфиденциальность, за исключением случаев, когда технология предоставляемого Сервиса или настройки используемого Пользователем программного обеспечения предусматривают открытый обмен информацией с иными участниками и пользователями сети Интернет.

            p 4.3. В целях повышения качества Сервиса, Правообладатель вправе хранить лог-файлы о действиях, совершенных Пользователем в рамках использования Сервиса, а также в связи с заключением и исполнением Пользователем Соглашения и иных Договоров со своей стороны, в течение 6 (Шести) месяцев.

        section
            h2 5. Передача информации

            p 5.1. Правообладатель вправе передать Персональную информацию третьим лицам в следующих случаях:

            ul
                li Пользователь выразил свое согласие на такие действия, включая случаи применения Пользователем настроек используемого программного обеспечения, не ограничивающих предоставление определенной информации;

                li Передача необходима в рамках использования Пользователем функциональных возможностей Сервиса;

                li Передача требуется для заключения и исполнения Договоров с использованием Сервиса;

                li По запросу суда или иного уполномоченного государственного органа в рамках установленной законодательством процедуры;

                li Для защиты прав и законных интересов Правообладателя в связи с нарушением заключенных с Пользователем Договоров.

        section
            h2 6. Изменение Персональной информации

            p 6.1. Пользователь имеет право:

            ul
                li Получать у Правообладателя информацию, касающуюся обработки его персональных данных, если такое право не ограничено в соответствии с федеральными законами;

                li Требовать от Правообладателя уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки;

                li Принимать предусмотренные законом меры по защите своих прав.

            p 6.2. Пользователь вправе в любое время отозвать свое Согласие на обработку персональных данных полностью или частично путем направления соответствующего требования Правообладателю. Такое требование должно быть направлено на адрес электронной почты info@sayes.ru или заказным письмом на адрес Правообладателя, указанный в п.8 настоящего документа.

            p 6.3. Пользователь может в любой момент отказаться от получения информационных рассылок и бесплатных продуктов Правообладателя путем аннулирования подписки через ссылку «Отписаться от рассылки», находящейся внизу соответствующих рассылок.

        section
            h2 7. Изменение Политики конфиденциальности

            p 7.1. Настоящая Политика может быть изменена или прекращена Правообладателем в одностороннем порядке без предварительного уведомления Пользователя. Новая редакция Политики вступает в силу с момента ее размещения на Сайте Правообладателя, если иное не предусмотрено новой редакцией Политики.

            p 7.2. Действующая редакция Политики находится на Сайте Правообладателя в сети Интернет по адресу #[a(href=`${CLUB_URL}/policy`) #{CLUB_URL}/policy].

        section
            h2 8. Реквизиты Правообладателя

            include ../shared/requisites