extends ./layout

block main
    article.article
        header
            h1 Правила оказания Услуг

            p Настоящие Правила определяют условия оказания Услуг и составляют часть заключенного между Исполнителем и Заказчиком соответствующего Договора оказания Услуг.

        section
            h2 1. Права и обязанности Заказчика

            h3 Заказчик обязан:

            p 1.1. Регистрироваться на Разговорные Клубы самостоятельно, используя интерфейс Личного кабинета.

            p 1.2. Отменять регистрацию на Разговорный Клуб, на котором он не планирует присутствовать, не позднее, чем за 60 минут до его начала, используя интерфейс Личного кабинета.

            p 1.3. Регистрироваться на Разговорные Клубы, заявленный уровень которых соответствует уровню знаний Заказчика.

            p 1.4. Соблюдать сроки начала Разговорного Клуба. В случае нарушения сроков начала Разговорного Клуба Заказчиком, неиспользованное время Разговорного Клуба не компенсируется.

            p 1.5. Поставить в известность Исполнителя в случае, если Ведущий не начал Разговорный Клуб в установленное время. В таком случае стоимость Разговорного Клуба возвращается на Лицевой счет Заказчика. Действие абонемента в таком случае не продляется.

            p 1.6. Не регистрироваться на Разговорный Клуб, заявленная тема которого может задеть или оскорбить его религиозные, политические или иные взгляды.

            p 1.7. Вести себя корректно по отношению к другим участникам Разговорного Клуба и Ведущему. Не допускать высказываний, которые могут оскорбить других участников или Ведущего.

            p 1.8. Не приглашать для участия в Разговорном Клубе третьих лиц, участие которых не было заявлено и оплачено.

            p 1.9. Не использовать оборудование, техническое состояние которого может помешать проведению Разговорного Клуба. Настоятельно рекомендуется использование гарнитуры или наушников с внешним микрофоном, чтобы избежать возможных технических проблем.

            h3 Заказчик имеет право:

            p 1.10. Оплачивать Разговорные Клубы для единоразового посещения либо приобретать абонемент на неограниченное посещение разговорных клубов в течение 1 месяца или 3 месяцев.

            p 1.11. Зарегистрироваться на два предстоящих Разговорных Клуба единовременно, если у него активен абонемент или предоплачено более одного Разговорного Клуба.

            p 1.12. Отменить регистрацию на Разговорный Клуб в Личном кабинете. Если Заказчик отменяет Разговорный Клуб не позднее, чем за 60 минут до его начала, оплата сохраняется за ним. Если информация об отмене до начала Разговорного Клуба в установленное время не поступает, он считается посещенным и оплачивается Заказчиком.

            p 1.13. Заказать услугу индивидуальных Тренингов с Ведущим. Во время получения услуги индивидуальных Тренингов, Заказчик посещает все Разговорные Клубы бесплатно. Если на момент заказа услуги Тренингов у Заказчика был активен абонемент на посещение Разговорных Клубов, действие абонемента замораживается и будет вновь активировано после прекращения индивидуальных Тренингов. Оплаченные единоразовые посещения Разговорных Клубов могут быть пересчитаны в счет Тренингов по требованию Заказчика, в противном случае они сохраняются на Лицевом счете Заказчика и могут быть использованы после прекращения индивидуальных Тренингов.

        section
            h2 2. Права и обязанности Исполнителя

            h3 Исполнитель обязан:

            p 2.1. Предоставить Заказчику полную информацию о Разговорных Клубах.

            p 2.2. Обеспечить проведение Разговорных Клубов квалифицированными Ведущими.

            p 2.3. В любой момент предоставлять Заказчику достоверную информацию о количестве оплаченных Разговорных Клубов и/или об оставшемся сроке действия абонемента.

            p 2.4. Заранее предоставлять информацию о запланированных Разговорных Клубах и их темах, обеспечивая возможность регистрации на них в Личном кабинете.

            p 2.5. Компенсировать стоимость Разговорных Клубов, не состоявшихся по вине Исполнителя, путем зачета в счет оплаты стоимости следующего Разговорного Клуба.

            p 2.6. По требованию Заказчика, осуществить возврат средств за не предоставленные по вине Исполнителя Услуги в течение 10 дней после поступления такого требования.

            p 2.7. Информировать Заказчика о любых изменениях в процессе оказания Услуг не позднее, чем за одну неделю до вступления изменений в силу.

            h3 Исполнитель имеет право:

            p 2.8. Привлекать третьих лиц (любых физических и юридических лиц) в целях своевременного и качественного исполнения обязательств по Договору.

            p 2.9. Не оказывать Услугу до поступления полной предоплаты.

            p 2.10. В любой момент изменить расписание Разговорных Клубов, уведомив при этом всех зарегистрированных на них Заказчиков не позднее чем за два часа до начала Разговорного Клуба.

            p 2.11. Исполнитель имеет право использовать контактную информацию Заказчика (телефон, адрес электронной почты, логин в Skype) для связи с Заказчиком в рамках оказания Услуг и в информационных целях. Заказчик, заключая Договор, дает свое согласие на использование своей контактной информации для целей, предусмотренных данным пунктом.

            p 2.12. При необходимости производить замену Ведущего, заявленного в расписании Разговорных Клубов.

        section
            h2 3. Права и обязанности Ведущего

            h3 Ведущий обязан:

            p 3.1. Начать Разговорный Клуб не позднее времени, заявленного в расписании.

            p 3.2. Поставить в известность Исполнителя в случае, если кто-то из зарегистрированных Заказчиков не вышел на связь в установленное время.

            p 3.3. Вести себя корректно по отношению ко всем участникам Разговорного Клуба. Не допускать высказываний, которые могут оскорбить кого-либо из участников.

            p 3.4. Не допускать конфликтов между участниками Разговорных Клубов.

            p 3.5. Заблокировать участника Разговорного Клуба, нарушившего п.п. 1.7., 1.8. или 1.9. настоящих Правил или условия соответствующего Договора оказания Услуг.

            h3 Ведущий вправе:

            p 3.6. Не возмещать Заказчику время Разговорного Клуба, потерянное по вине Заказчика (опоздание и т. д.).

            p 3.7. Завершить Разговорный Клуб, если ни один из зарегистрировавшихся Заказчиков не явился в течение 10 минут с момента начала Разговорного Клуба.

            p 3.8. Не проводить Разговорный Клуб, если ко времени его начала есть только одна или ни одной регистрации.