.children-advantages {
	margin-bottom: 100px;

	.subtitle {
		max-width: 850px;
		margin-bottom: 40px;
	}

	.text-block {
		justify-content: flex-start;
		min-height: 245px;
		padding-top: 44px;
		flex-basis: 568px;

		.text-block__title {
			position: absolute;
			max-width: 360px;

			font-size: 18px;
			line-height: 20px;
		}

		.text-block__description {
			margin-top: 55px;
			max-width: 336px;
		}
	}

	&__blocks {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 20px;
	}
}
