.course-selection {
	background-color: $white;
	border-radius: $border-radius;
	text-align: center;

	width: 568px;
	padding: 35px 85px;

	&__title {
		color: $black;
		font-size: 24px;
		line-height: 25px;

		margin: 0 auto 20px;
		max-width: 398px;
	}

	&__description {
		color: $black;
		font-size: 42px;
		font-weight: 700;
		line-height: 40px;

		margin-bottom: 30px;
		max-width: 397px;
	}
}
