.history {
	margin-bottom: 100px;

	.subtitle {
		max-width: 921px;
		margin-bottom: 40px;
	}

	&__columns {
		margin-top: -100px;
		display: flex;
		gap: 20px;
		align-items: flex-end;
	}

	&__left {
		width: 764px;
		display: flex;
		gap: 20px;
		flex-wrap: wrap;
		position: relative;
		z-index: 1;
	}

	&__right {
		width: 372px;
		position: relative;

		&::before,
		&::after {
			content: "";
			width: 137px;
			height: 301px;
			position: absolute;
			background: url("../../assets/images/decoration/elements/branch.svg")
				center center/cover no-repeat;
		}

		&::before {
			top: 70px;
			left: -70px;
		}

		&::after {
			transform: scaleX(-1);
			top: 90px;
			right: -55px;
		}
	}

	&__note {
		position: absolute;
		width: 148px;
		height: 146px;
		top: -165px;
		right: 40px;
	}

	&__img {
		position: relative;
		right: 62px;
		width: 452px;
		height: 336px;
	}
}
