.organizations {
	margin-bottom: 130px;

	.slider {
		padding-top: 45px;
	}

	.slider__arrows {
		top: -25px;
	}

	.slider__pagination {
		bottom: -35px;
		right: 50%;
		transform: translateX(50%);
	}

	&__list {
		display: flex;
		gap: 20px;
		flex-wrap: wrap;
	}

	&__item {
		width: 176px;
		height: 175px;
		display: flex;
		justify-content: center;
		align-items: center;

		background-color: $white;
		border-radius: 20px;
	}
}
