body {
    background-color: #f1f3f4;
}

.page {
    .page-header {
        &__inner {
            max-width: 1280px;
            margin: auto;
            padding: 2rem 1rem;
        }
    }

    .page-content {
        max-width: 1280px;
        margin: auto;
        padding: 2rem 1rem;
    }

    .mdc-layout-grid {
        padding: 0;
    }
}