@use 'shared/styles/variables';

.week-schedule {
    display: flex;
    height: 170px;

    .day-schedule {
        flex: 1 1 40px;
        display: flex;
        flex-direction: column;
        border-bottom: 0;

        + .day-schedule {
            border-left: 1px #dadada solid;
        }
    }

    .day-name {
        display: flex;
        flex-basis: 30px;
        align-items: center;
        min-height: 100%;
        padding-left: 4px;
        color: #707070;
        font-size: 12px;
        font-weight: 400;
        line-height: 1;
        border-right: 1px #dadada solid;

        @media (min-width: 768px)  {
            min-height: 0;
            padding-left: 0;
            width: 100%;
            text-align: center;
            display: block;
            border: 0;
            border-bottom: 1px #dadada solid;
            padding-top: 9px;
        }
    }

    .day-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 170px;
        overflow: hidden;
        padding: 4px;
    }

    .day-event {
        text-align: center;

        &::before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            background-color: variables.$secondary-color;
            border-radius: 100%;
        }

        time {
            font-size: 12px;
        }
    }
}