$font-family: 'Raleway', 'Open Sans', 'Helvetica', Arial, sans-serif;

$black: #262626;
$white: #fffcff;
$grey: #e5e3e2;
$yellow: #ffd754;
$purple: #7831b2;
$dark-purple: #5e288a;
$violet: #a68ad5;
$pink: #e71985;
$pale-pink: #f8dcd6;
$pale-white: #f8f0ee;
$linen: #f9e2de;
$almond-crayola: #f6e7e5;
$pearl-white: #f9f4f2;
$red: #e71919;

$primary-color: $dark-purple;
$secondary-color: $yellow;
$body-color: $pearl-white;
$font-color: $black;
$static-url: 'https://static.sayes.ru/images/speaking-club';