@use 'mdc-react/src/SideSheet/mixins';

.form-panel {
    @include mixins.width(480px);

    .mdc-side-sheet__content {
        height: auto;
        padding: 0 1rem .5rem;
    }

    .form-panel__actions {
        padding: .5rem 1rem 1rem;

        .mdc-button + .mdc-button {
            margin-left: .5rem;
        }
    }
}