@use 'mdc-react/src/side-sheet';

.page.unit-page {
    .page-header {
        &__inner {
            max-width: 1024px;
        }
    }
    
    .page-content {
        max-width: 720px;
    }

    .mdc-side-sheet {
        top: 0;
        right: 0;
        z-index: 4;
        position: absolute;
        @include side-sheet.width(360px);
    }
}