.room-side-panel {
    position: absolute;
    right: 0;
    width: 360px;
    height: 100%;
    display: none;
    flex-direction: column;
    border-left: 1px solid rgba(255,255,255,.12);

    &--open {
        display: flex;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem 0 .5rem 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    }

    &__content {
        flex: 1;
        height: calc(100% - 49px);
    }
}