.ui-TableCell {
    &--align-start {
        text-align: left !important;
    }

    &--align-center {
        text-align: center !important;
    }

    &--align-end {
        text-align: right !important;
    }

    &#{&}--header {
        --TableCell-headBackground: transparent;
    }
}