.ui-TableCell {
    &--align-start {
        text-align: left !important;
    }

    &--align-center {
        text-align: center !important;
    }

    &--align-end {
        text-align: right !important;
    }

    &--alignV-start {
        vertical-align: top !important;
    }

    &--alignV-center {
        vertical-align: middle !important;
    }

    &--alignV-end {
        vertical-align: bottom !important;
    }

    &#{&}--header {
        --TableCell-headBackground: transparent;
    }
}