extends /shared/layouts/app

append head
    link(rel="stylesheet" href=`/css/lms.css?v=${APP_VERSION}`)

append body
    script(src=`/js/lms.js?v=${APP_VERSION}`)
    script(src='https://timeweb.cloud/api/v1/cloud-ai/agents/1265a943-ce7d-4eca-9c04-7240b1d6f61a/embed.js?collapsed=true' async)