@use 'shared/styles/variables';
@use '@material/top-app-bar';
@use '@material/theme';

body {
    background-color: #f4f4f4;
}

#app-content {
    margin-left: 256px;
}

.page-top-bar {
    max-width: 1280px;
    margin: auto;
    padding-top: 1rem;
    @include top-app-bar.fill-color-accessible(#f4f4f4);
    @include top-app-bar.icon-ink-color(theme.accessible-ink-color(#f4f4f4, secondary));

    .mdc-top-app-bar__row {
        margin: auto;
        height: auto;
    }

    .mdc-top-app-bar__section--align-start {
        display: block;
        padding-left: 1rem;
    }
}

.page-title {
    font-size: 1.5rem;
    line-height: 1.5;
}

.page-content {
    max-width: 1280px;
    margin: auto;
    padding: 1rem;

    .mdc-layout-grid {
        padding: 0;
    }
}

.page-side-sheet {
    .mdc-side-sheet__content {
        padding: 0 1rem;
    }
}

.mdc-card {
    overflow: hidden;

    // .mdc-card__section:not(.mdc-card__section--primary),
    // .mdc-card__section:not(.mdc-card__section--secondary) {
    //     > .mdc-typography {
    //         padding: 8px 16px 0;
    //     }
    // }
}

.mdc-dialog {
    .mdc-dialog__surface {
        min-width: 480px;
    }
}