@use 'shared/styles/variables';

.app-loading-indicator {
    position: fixed;
}

.app-content {
    max-height: calc(100vh - 57px);
    margin-left: 64px;
    padding: 1rem;
    //background: #f5f5f5;
    overflow: auto;
}

.page-top-bar {
    max-width: 1280px;
    margin: auto;
}

.page-content {
    max-width: 1280px;
    margin: auto;
    padding: 1rem;
}

.page-side-sheet {
    
}

.page-title {
    font-size: 1.5rem;
    line-height: 1.5;
}