@use 'shared/styles/mixins';
@use 'shared/styles/variables';

body {
    overflow: hidden;
}

body,
.ui-provider {
    background-color: rgb(245, 245, 245) !important;
}

.app-loading-indicator {
    position: fixed;
}

.app-content {
    max-height: calc(100vh - 57px);
    margin-left: 64px;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: auto;

    @include mixins.breakpoint(lt-lg) {
        padding: 0;
    }
}

.page-top-bar {
    max-width: 1280px;
    margin: auto;
}

.page-content {
    max-width: 1280px;
    margin: auto;
    padding: 1rem;
}

.page-title {
    font-size: 1.5rem;
    line-height: 1.5;
}

input[type='file'] {
    display: none;
}