body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    padding-top: 65px;
}

.header {
    // TODO: Move to main styles
    --header-background-color: rgba(249, 244, 242, .75);
    --header-font-color: var(--primary-color);
    --header-border-radius: 0;

    &__main {
        background-color: var(--_background-color);
        backdrop-filter: blur(5px);
        color: var(--primary-color);
        border-radius: 0;
    }

    &__logo {
        display: inline-flex;
    }
}

.footer {
    --footer-padding: 0;
    --footer-background-color: transparent;

    background-color: transparent;
    margin-top: auto;
    padding: 0;

    &__container {
        max-width: 1280px;
        margin: auto;
        padding: 20px 60px;
    }

    &__row {
        align-items: center;
        justify-content: space-between;
    }
}

.article {
    max-width: 1024px;
    padding-bottom: 4rem;
    line-height: 1.4;

    header + section,
    section + section {
        margin-top: 2rem;
    }

    h1 {
        font-size: 42px;
        line-height: 40px;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    ul,
    ol,
    p:not(:last-child) {
        margin-bottom: 1rem;
    }

    ul,
    ol {
        list-style: inside;
    }

    li:not(:last-child) {
        margin-bottom: .5rem;
    }

    p a {
        color: var(--primary-color);
        text-decoration: underline;
    }
}