.room-header {
    height: 48px;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);

    &__text,
    &__tabs,
    &__actions {
        flex: 1;
    }

    &__tabs {
        justify-content: center;

        .ui-menu {
            border: none;
        }
    }

    &__actions {
        flex-shrink: 0;
        justify-content: flex-end;
    }

    .end-call-button {
        margin-left: .5rem;
        background-color: firebrick;
    }
}