@use 'shared/styles/variables';

#main-page {
    main {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }

    .flash {
        border-radius: 0;
    }

    .form-signin {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 330px;
        margin: auto;
        gap: 1rem;

        img {
            width: 128px;
        }
    }
}