@use 'shared/styles/variables';

.root {
  display: flex;
  gap: 5px;
}

.circle {
  width: 20px;
  height: 20px;
  border: 2px solid variables.$primary-color;
  border-radius: 100%;
}

.filled {
  background-color: variables.$primary-color;
}