div#password-modal.modal.fade(aria-hidden="true")
    div.modal-dialog
        form(method='post' action='/reset').modal-content
            div.modal-header
                h5.modal-title Сброс пароля
                button.btn-close(data-bs-dismiss="modal")

            div.modal-body
                p.text-start Для сброса пароля введите адрес электронной почты указанный при регистрации. Вам на почту придет письмо с инструкцией.

                div.form-floating
                    input.form-control(
                        id="email-input"
                        name="email"
                        type="email"
                        placeholder="name@example.com"
                        required
                    )
                    label(for="email-input") Электронная почта

            div.modal-footer
                button.btn.btn-primary(type="submit") Сбросить пароль