@use '@material/top-app-bar';
@use '@material/theme';

.page-top-bar {
    @include top-app-bar.fill-color-accessible(transparent);
    @include top-app-bar.ink-color(text-primary-on-light);
    @include top-app-bar.icon-ink-color(text-secondary-on-light);

    .mdc-top-app-bar__section--align-start {
        padding-left: 1rem;
    }

    .page-title {
        margin: 0;
        padding-left: 0;
        font-size: 1.5rem;
    }

    .page-breadcrumbs {
        a:hover {
            text-decoration: underline;
        }

        a + a {
            margin-left: 8px;
            padding-left: 10px;
            position: relative;

            &::before {
                content: '›';
                position: absolute;
                left: 0;
            }
        }
    }

    .mdc-top-app-bar__action-item {
        + .mdc-top-app-bar__action-item {
            margin-left: 4px;
        }
    }

    .mdc-badge {
        margin-right: 0;
    }
}