.room {
    position: relative;

    .media {
        background-color: black;

        &.media--local {
            position: absolute;
            z-index: 1;
            width: 25%;
            top: 0;
            right: 0;
        }

        &.media--remote {
            width: 100%;
        }
    }
}

.video-preview-dialog {
    .media {
        width: 100%;
    }
}