.image-slider {
    position: relative;
    padding: 0 3rem;

    .image-slider__wrapper {
        position: relative;
        margin-bottom: 1rem;
    }

    .image-slider__images {
        margin: auto;
    }

    .image-slider__image {
        display: none;
        margin: auto;
        width: auto;
        max-width: 100%;

        &--active {
            display: block;
        }
    }

    .image-slider__button {
        position: absolute;
        top: 50%;

        &--prev {
            left: 0%;
        }

        &--next {
            right: 0%;
        }
    }

    .image-slider__nav {
        margin: auto;
        text-align: center;
    }
}