@use 'shared/styles/variables';

.enrollment-details-card {
    &.ui-segment {
        padding: 0;
        border: none;
        border-radius: 8px;
        overflow: hidden;
    }

    &__section {
        padding: 1rem;
    }
    
    &__main-section {
        text-align: center;
        background-color: #e6e6fa;

        img {
            max-width: 128px;
        }
    }

    &__teacher-section {
        background-color: #f7f7f7;
        text-align: center;

        .teacher-info {
            margin: auto;
        }
    }

    &__schedule-section {
        .next-lesson-card {

        }

        .week-schedule {
            margin: auto 0;
            border: 1px solid #dadada;
            border-radius: 4px;
        }
    }

    &__payment-section {
        display: flex;
        flex-direction: column;
        background-color: variables.$primary-color;
        background-image: url('https://static.sayes.ru/images/kids/fourth.png');
        color: variables.$text-light-color;

        .ui-header,
        .ui-text {
            color: variables.$text-light-color;
        }

        .balance-item {
            display: flex;
            align-items: center;
            gap: 8px;

            .ui-text {
                line-height: 1.2;
            }

            strong.ui-text {
                font-size: 42px;
                font-weight: bold;
                line-height: 42px;
                margin-right: 8px;
            }
        }

        .ui-button {
            margin-top: auto;
        }
    }
}