extends /shared/layouts/app

append head
    link(rel="stylesheet" href="/css/admin.vendors.css")
    link(rel="stylesheet" href="/css/admin.main.css")

append body
    script(src="/js/admin.vendors.js")
    script(src="/js/admin.main.js")