.ExerciseItemWrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin: 1rem 0;

    &--editing {
        margin-right: 0;
    }

    .ExerciseItem {
        width: 100%;
        transition: background-color .2s;
    }

    &__menu-button {
        opacity: 0;
        transition: opacity .2s;
    }

    &:hover {
        .ExerciseItem {
            background-color: rgb(245, 245, 245);
            border-radius: 4px;
        }

        .ExerciseItemWrapper__menu-button {
            opacity: 1;
        }
    }
}