.post-card {
    overflow: visible;

    &.ui-segment {
        padding: 0;
    }

    &__header {
        padding: 1rem .5rem .5rem 1rem;
    }

    &__content {
        padding: .5rem 1rem;
    }

    &__footer {

    }
}