.inline-select {
    position: relative;
    display: inline-block;
    min-width: 1rem;
    height: 24px;
    padding: 0;
    background-color: #e3e3e3;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    cursor: pointer;
    box-sizing: content-box;
    vertical-align: baseline;

    &--correct {
        color: forestgreen;
        background-color: rgba(34, 139, 34, .12);
    }

    &--incorrect {
        color: firebrick;
        background-color: rgba(178, 34, 34, .12);
    }
}