+mdc-top-app-bar()(element='header' fixed)#header
    +mdc-top-app-bar__row
        +mdc-top-app-bar__section()(alignStart)
            a(href='/').logo
                img(src='https://static.sayes.ru/images/logos/sayyes-speaking-club-white.png')

        block header-content