@use 'shared/styles/mixins' as *;

.room {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgb(45, 44, 44);

    &--showing-content {
        .main-participant-info {
            display: none;
        }
        
        .participant-list {
            border-left: 1px solid #3b3b3b;
        }
        
        .participant-info--hidden {
            display: flex;
        }
    }

    .room-header {

    }

    .room-content {
        position: relative;
        height: calc(100% - 48px);
        overflow-y: auto;
    }

    .room-side-panel {
        height: calc(100% - 48px);
    }

    .room-side-panel--open + .room-content {
        width: calc(100% - 360px);
    }
}