@use 'shared/styles/variables';

.side-panel {
    &.side-panel--dismissible {
        position: fixed;
        top: 64px;
        height: calc(100% - 64px);
        // @include side-sheet.width(360px);

        @media #{variables.$lt-md} {
            top: 56px;
            height: calc(100% - 56px);
        }
    }

    &.side-panel--modal {
        // @include side-sheet.width(480px);
    }

    .side-panel__content {
        padding: 1rem;
        border-top: 1px solid rgba(0,0,0,.12);
        border-bottom: 1px solid rgba(0,0,0,.12);
        overflow-x: hidden;
    }

    &__footer {
        padding: 1rem;

        .mdc-button + .mdc-button {
            margin-left: .5rem;
        }
    }
}