{% if page == 'adults-courses' %}
	{% set title = 'Курс Английский с нуля для тех, кто никогда не изучал язык или все забыл.' %}
	{% set text = 'В процессе обучения на курсе вы познакомитесь с основами фонетики английского языка, научитесь представляться, рассказывать о себе и о своей семье, о своем типичном дне, а также отработаете несколько важных грамматических конструкций.' %}
	{% set purpose = 'Цель данного курса — показать, что по нашей методике вы сможете легко освоить английский язык и увидеть прогресс уже через месяц занятий, даже если вы прежде не изучали язык.' %}
{% elseif page == 'offline' %}
	{% set title = 'Наша школа предлагает групповое обучение в Москве в пяти минутах от метро Павелецкая.' %}
	{% set text = 'Обучение в группе даст не «удешевление» стоимости занятий, а дополнительную мотивацию, интересное общение и отработку языкового навыка с разными людьми и акцентами.' %}
	{% set purpose = 'Важной особенностью группового офлайн обучения в школе SAY YES является интенсивность занятий: 2 раза в неделю по 4 академических часа при вечернем расписании.' %}
	{% set mixin = 'about-course--offline' %}
{% elseif page == 'offline-2' %}
	{% set title = 'Как проходят занятия в группе офлайн' %}
	{% set text = 'Обучение происходит в группах от 4-х до 10-ти человек. Основной принцип обучения в нашей школе — доведение навыка использования языка до автоматизма.' %}
	{% set purpose = 'Бóльшую часть урока новые фразы, слова, диалоги произносятся студентами вслух в парах, тем самым мы добиваемся 70% разговорной практики даже на групповых уроках.' %}
	{% set mixin = 'about-course--offline-2' %}
{% elseif page == 'children-courses' %}
	{% set title = 'Курс “Bright ideas” разработан для детей 5-7 лет, кто только начинает знакомиться с английским языком.' %}
	{% set text = 'Обучение происходит с погружением в англоязычную среду через интерактивные игры, песни, мультфильмы и повторение за преподавателем.' %}
	{% set purpose = 'Цель данного курса — заинтересовать ребенка изучением английского, а также заложить качественные основы языка для дальнейшего обучения.' %}
	{% set mixin = 'about-course--children-courses' %}
{% endif %}

<section class="about-course {{mixin}}">
	<h3 class="about-course__title">{{title}}</h3>
	<div class="about-course__info">
		<p class="about-course__text">{{text}}</p>
		<p class="about-course__purpose">{{purpose}}</p>
	</div>
</section>
