<section class="advantages-cooperation">
	<div class="section-container">
		<h2 class="subtitle">Обучение в SAY YES! — это
			<span class="text text--violent">больше, чем занятия</span>
			с преподавателем. Сотрудничая с SAY YES! вы также получаете:</h2>

		<div class="text-blocks text-blocks--advantages-cooperation">
			<div class="text-block text-block--yellow text-block--contacts-bg">
				<p class="text-block__description">Возможность посещения разговорного онлайн клуба</p>
			</div>
			<div class="text-block text-block--yellow text-block--video-bg">
				<p class="text-block__description">Собственная онлайн-платформа с дополнительными материалами и тестами</p>
			</div>
			<div class="text-block text-block--yellow text-block--note-2-bg">
				<p class="text-block__description">Бесплатные материалы в электронном виде</p>
			</div>
			<div class="text-block text-block--yellow text-block--notes-bg">
				<p class="text-block__description">Отчеты по успеваемости сотрудников</p>
			</div>
			<div class="text-block text-block--yellow text-block--webcam-bg">
				<p class="text-block__description">Поддержка персонального менеджера-куратора</p>
			</div>
		</div>

		<button class="btn btn--violent">Рассчитать стоимость обучения</button>
	</div>
</section>
