<section class="atmosphere">
	<div class="section-container">
		<h2 class="subtitle">Атмосфера «второго дома»</h2>
		<p class="atmosphere__description">SAY YES! это место, куда хочется возвращаться.</p>
		<p class="atmosphere__description">Мы создаем дружескую атмосфру и проводим мероприятия для погружения в языковую среду.</p>
		<div class="atmosphere__trip">
			<ul class="atmosphere__celebrations-list">
				<li class="atmosphere__celebrations-item">Совместные выезды</li>
				<li class="atmosphere__celebrations-item">Онлайн встречи</li>
			</ul>
			<img src="./assets/images/atmosphere/atmosphere-1.jpg" alt="Совместные выезды" class="atmosphere__trip-img">
			<img src="./assets/images/decoration/notes/picnic.svg" alt="Английский на пикнике" class="atmosphere__trip-tip">
		</div>
		<div class="atmosphere__celebrations">
			<ul class="atmosphere__celebrations-list">
				<li class="atmosphere__celebrations-item">Отмечаем праздники вместе</li>
				<li class="atmosphere__celebrations-item">Караоке на перемене</li>
			</ul>
			<div class="atmosphere__celebrations-images">
				<img src="./assets/images/atmosphere/atmosphere-2.jpg" alt="Отмечаем праздники вместе" class="atmosphere__celebration-img">
				<div class="video">
					<img src="./assets/images/atmosphere/atmosphere-3.jpg" alt="Отмечаем праздники вместе">
					<button class="play" id="video-2"></button>
				</div>
				<img src="./assets/images/atmosphere/atmosphere-4.jpg" alt="Отмечаем праздники вместе" class="atmosphere__celebration-img-2">
			</div>
			<img src="./assets/images/decoration/notes/celebrating-completion.svg" alt="Отмечаем завевершение обучения" class="atmosphere__celebrations-tip">
		</div>
	</div>
	{% include '../components/modal.twig' with {modal: 'video', url: "https://www.youtube.com/embed/CgqpaS5eoGQ", id: "video-2", vertical: 'true'} %}
</section>
