<section class="convenient-oc">
	<div class="section-container">
		<h2 class="subtitle">Удобный онлайн-класс</h2>
		<div class="convenient-oc__content">
			<div class="convenient-oc__description">
				<p class="convenient-oc__paragraph">Занятия онлайн проходят на надежной платформе, специально разработанной нашей школой: ребенок общается с преподавателем и выполняет задания в одном окне браузера.</p>
				<p class="convenient-oc__paragraph">Интерактивная комната, разработанная для детей, делает процесс обучения удобным и захватывающим. Игры, интерактивные задания, видео и аудио вовлекают ребенка в процесс обучения с первых минут.</p>
			</div>
			<img src="./assets/images/pictures/oc.jpg" alt="Say Yes" class="convenient-oc__img">
		</div>
	</div>
</section>
