<section class="course-faq">
	<div class="section-container">
		<h2 class="subtitle">На часто задаваемые вопросы о курсе отвечает Шаталова Вера, сооснователь SAY YES!</h2>
		<div class="course-faq__block">
			<img src="./assets/images/pictures/vera.jpg" alt="Say Yes" class="course-faq__img">
			{% include '../components/accordion.twig' with { list: courseFaq } %}
		</div>
	</div>
</section>
