<section class="course-results">
	<div class="section-container">
		<h2 class="subtitle">Результаты курса Английский для начинающих</h2>
		<div class="course-results__content">
			<p class="course-results__description">Если вы посетили 100% занятий и выполнили все домашние работы, но не сдали успешно итоговый тест, вы можете пройти уровень повторно и абсолютно бесплатно.</p>
			{% include '../components/list.twig' with {list: courseResultsList, classes: 'list--ul-sm'} %}
		</div>
	</div>
</section>
