<section class="dream-team">
	<div class="section-container">
		<h2 class="subtitle">Преподаватели мечты</h2>
		<div class="dream-team__content">
			<div class="dream-team__info">
				<p class="dream-team__description">Влюблены в свое дело и не дадут скучать. Преподаватель SAY YES! — это опытный,  харизматичный и современный педагог.</p>
				<p class="dream-team__description">Оставьте заявку, мы подберем вам преподавателя и расскажем о курсах</p>
				<button class="btn btn--yellow btn--full">Оставить заявку</button>
			</div>
			<img src="./assets/images/pictures/teacher.jpg" alt="Команда мечты" class="dream-team__img">
			<div class="dream-team__advangees">
				<div class="advantage">
					<div class="advantage__numbering">1</div>
					<div class="advantage__title">из 58 кандидатов</div>
					<div class="advantage__description">проходит отбор</div>
				</div>
				<div class="advantage">
					<div class="advantage__numbering">2</div>
					<div class="advantage__title">месяца</div>
					<div class="advantage__description">педагоги обучаются методике Школы</div>
				</div>
				<div class="advantage">
					<div class="advantage__numbering">8</div>
					<div class="advantage__title">лет</div>
					<div class="advantage__description">средний стаж преподавателя</div>
				</div>
			</div>
		</div>
	</div>
</section>
