<section class="features">
	<img src="./assets/images/pictures/bright-ideas.jpg" alt="Bright Ideas" class="features__img">
	<div class="features__info">
		<h3 class="features__title">Особенности обучения на курсе “Bright Ideas”:</h3>
		<ul class="features__list">
			<li class="features__item">Знакомимся с основами языка</li>
			<li class="features__item">Влюбляемся в английский</li>
			<li class="features__item">Начинаем говорить, читать и писать</li>
			<li class="features__item">Готовимся к школьной программе</li>
		</ul>
		<h3 class="features__title">Результаты обучения  на курсе “Bright Ideas”:</h3>
		<ul class="features__list">
			<li class="features__item">Воспринимает на слух английскую речь</li>
			<li class="features__item">Уверенно рассказывает о себе и любимых вещах</li>
			<li class="features__item">Может составлять простые предложения</li>
			<li class="features__item">Знает более 100 новых слов и выражений</li>
		</ul>
		<button class="btn btn--yellow">Записаться на бесплатный урок</button>
	</div>
</section>
