<section class="getting-started">
	<div class="section-container">
		<h2 class="subtitle">Чтобы начать обучение вам осталось:</h2>
		{% include '../components/cooperation.twig' with { section: 'getting-started' } %}
	</div>
</section>
