<section class="offline-shortly">
	<div class="section-container">
		<h2 class="subtitle">Коротко о групповом офлайн обучении*</h2>

		<div class="text-blocks">
			<div class="text-block text-block--lightning-bg">
				<h4 class="text-block__title">Интенсивность  обучения</h4>
				<p class="text-block__description">2 раза в неделю или 1 раз в выходной</p>
			</div>
			<div class="text-block text-block--clock-bg">
				<h4 class="text-block__title">Длительность занятия</h4>
				<p class="text-block__description">2,5 ак. часа — утро/день или 4 ак. часа — вечер</p>
			</div>
			<div class="text-block text-block--calendar-bg">
				<h4 class="text-block__title">Расписание занятий</h4>
				<p class="text-block__description">Пн-Чт/Вт-Пт/Ср-Сб или Вскр</p>
			</div>
			<div class="text-block text-block--levels-2-bg">
				<h4 class="text-block__title">Продолжительность уровня</h4>
				<p class="text-block__description">От 6 до 7 месяцев</p>
			</div>
			<div class="text-block text-block--rubles-bg">
				<h4 class="text-block__title">Стоимость занятий</h4>
				<p class="text-block__description">От 9.000 ₽/мес.</p>
			</div>
		</div>

		<p class="offline-shortly__info">*Даты старта групп, точное расписание и информацию по действующим группам вы можете уточнить у менеджеров по телефонам:</p>
		<p class="offline-shortly__number">8 499 650-53-47 / 8 925 091-64-16</p>
	</div>
</section>
