<section class="part-of-team">
	<div class="section-container">
		<h2 class="subtitle">Готовы стать частью нашей дружной команды?</h2>
		<p class="part-of-team__description">Ждем ваше резюме на почту
			<a href="#" class="text text--violent">hr@sayes.ru</a>
			с пометкой какой формат преподавания (онлайн/офлайн/взрослые/дети) вам интересен.</p>
	</div>
	<img src="./assets/images/mainscreens/mainscreen-2.jpg" alt="Say Yes" class="part-of-team__img">
</section>
