<section class="practice">
	<div class="section-container">
		<h2 class="subtitle">Максимальная практика английского языка</h2>
		<div class="practice__content">
			<p class="practice__description">С первого занятия 70% урока говорите вы. Ведь чтобы научиться говорить на языке - нужно очень много практиковать.</p>
			<img src="./assets/images/pictures/practice.jpg" alt="Практика" class="practice__img">
		</div>
	</div>
</section>
