<section class="profitable-cooperation">
	<div class="section-container">
		<h2 class="subtitle">Сотрудничать с SAY YES! — выгодно</h2>
		{% include '../components/cooperation.twig' with { section: 'profitable-cooperation' } %}
	</div>
</section>
