<section class="trial-lesson-mini">
	{% include '../components/central-text.twig' with {centralText: 'trial-lesson-mini'} %}
	<img src="./assets/images/decoration/elements/hourglass.svg" alt="Песочные часы" class="trial-lesson-mini__hourglass-icon">
	<img src="./assets/images/decoration/elements/book-with-pen.svg" alt="Книга" class="trial-lesson-mini__book-icon">
	<img src="./assets/images/decoration/elements/statue-of-liberty.svg" alt="Статуя свободы" class="trial-lesson-mini__statue-of-liberty-icon">
</section>
