.comment-card {
    box-shadow: none;
    overflow: visible;
    
    .mdc-card__header {
        .mdc-card__header__title {
            line-height: 1.4;
            font-size: 1rem;
        }

        .mdc-card__header__subtitle {
            line-height: 1.1rem !important;
        }

        .mdc-card__header__actions {
            opacity: 0;
            transition: opacity .2s;
        }
    }

    .mdc-card__section.mdc-card__section--primary {
        padding: 8px 1rem 8px 72px;

        p {
            line-height: 1.4;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    .mdc-card__actions {
        justify-content: space-between;
        border-top: 1px solid #e0e0e0;
    }

    &:hover {
        .mdc-card__header__actions {
            opacity: 1;
        }
    }

    &--editing {
        margin: 1rem;
    }
}