extends /shared/layouts/base

include ../shared/header
include ../shared/modal
include ../shared/section
include ../shared/slider
include ../shared/tabs

append head
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Shantell+Sans:ital,wght@1,300..400&display=swap")
    link(rel="stylesheet" href="https://static.sayes.ru/css/shared.css")
    link(rel="stylesheet" href="/css/club.css")

    style
        include:scss styles.scss

block body
    block header
        +header

    main.main
        block main

    block footer
        include ../shared/footer

    script(src="https://static.sayes.ru/js/shared.js")

    if APP_ENV === 'production'
        script(src="https://js.sentry-cdn.com/b2cb9d2c881d7fc4948cece0d3dcafdb.min.js" crossorigin="anonymous")
        script.
            Sentry.onLoad(function() {
                Sentry.init({
                    // Tracing
                    tracesSampleRate: 1.0, // Capture 100% of the transactions
                    // Session Replay
                    replaysSessionSampleRate: 0.1, // This sets the sample rate at 10%. You may want to change it to 100% while in development and then sample at a lower rate in production.
                    replaysOnErrorSampleRate: 1.0, // If you're not already sampling the entire session, change the sample rate to 100% when sampling sessions where errors occur.
                });
            });
    
    block scripts