$font-family: 'Raleway', 'Open Sans', 'Helvetica', Arial, sans-serif;

$black: #262626;
$white: #fffcff;
$grey: #e5e3e2;
$yellow: #ffd754;
$purple: #7831b2;
$dark-purple: #5e288a;
$violet: #a68ad5;
$pink: #e71985;
$pale-pink: #f8dcd6;
$pale-white: #f8f0ee;
$linen: #f9e2de;
$almond-crayola: #f6e7e5;
$pearl-white: #f9f4f2;
$red: #e71919;

$primary-color: $dark-purple;
$secondary-color: $yellow;
$body-color: $pearl-white;
$font-color: $black;
$static-url: 'https://static.sayes.ru/images/speaking-club';

:root {
    // TODO: Move to main styles
    --primary-color: #{$primary-color};
    --on-primary-color: #{$white};
    --secondary-color: #{$secondary-color};
    --on-secondary-color: #{$black};
    --background-color: #{$body-color};
    --surface-color: #{$white};
    --font-color: #{$font-color};
    --font-family: #{$font-family};
}

body {
    padding-top: 65px;
}

.header {
    // TODO: Move to main styles
    --_background-color: rgba(241, 243, 244, .75);
    --_font-color: var(--primary-color);

    &__main {
        background-color: var(--_background-color);
        backdrop-filter: blur(5px);
        color: var(--primary-color);
        border-radius: 0;
    }

    &__container {
        justify-content: space-between;
    }

    &__logo {
        display: inline-flex;
    }
}

.footer {
    &__row {
        display: flex;
        justify-content: space-between;
    }
}

.article {
    max-width: 1024px;
    padding-bottom: 4rem;
    line-height: 1.4;

    header + section,
    section + section {
        margin-top: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    ul,
    ol,
    p:not(:last-child) {
        margin-bottom: 1rem;
    }

    ul,
    ol {
        list-style: inside;
    }

    li:not(:last-child) {
        margin-bottom: .5rem;
    }
}