@use 'shared/styles/variables';

.enrollment-pay-card {
    &.ui-segment {
        padding: 0;
        border: none;
        border-radius: 8px;
        overflow: hidden;
    }

    &__section {
        padding: 1rem;
    }

    &__details-section {
        background-color: #e6e6fa;
        text-align: center;
        flex-basis: 256px;

        img {
            max-width: 128px;
        }
    }

    &__steps-section {
        flex: 1 0 60%;

        .pack-card-grid {
            margin-bottom: 1rem;
        }
    }

    &__checkout-section {
        flex-basis: 256px;
        display: flex;
        flex-direction: column;
        background-color: variables.$primary-color;
        background-image: url('https://static.sayes.ru/images/kids/fourth.png');
        color: variables.$text-light-color;

        .ui-header,
        .ui-text {
            color: variables.$text-light-color;
        }

        .balance {
            display: flex;
            align-items: center;

            strong {
                font-size: 42px;
                font-weight: bold;
                line-height: 42px;
                margin-right: 8px;
            }

            p {
                line-height: 1.2;
            }
        }
    }
}