+mdc-dialog()(element='form' method='post' action='/reset')#password-dialog
    +mdc-dialog__title('Сброс пароля')

    +mdc-dialog__content
        +mdc-typography('Для сброса пароля введите адрес электронной почты указанный при регистрации. Вам на почту придет письмо с инструкцией.')
        
        +mdc-text-field()(
            name='email'
            type='email'
            placeholder='Электронная почта'
            filled
            required
        )

    +mdc-dialog__actions
        +mdc-dialog__button('Закрыть')(type='button' action='cancel')
        +mdc-dialog__button('Сбросить пароль')(type='submit' default outlined)