extends /shared/layouts/app

append head
    link(rel="stylesheet" href="/css/teacher.vendors.css")
    link(rel="stylesheet" href="/css/teacher.main.css")

append body
    script(src="/js/teacher.vendors.js")
    script(src="/js/teacher.main.js")