mixin header
    header.header
        div.header__main
            div.header__container
                a(href=`${`//club.${APP_DOMAIN}`}`).header__logo.logo
                    img(src="https://static.sayes.ru/images/speaking-club/logo.svg" alt="")

                block 

                div.header__menu
                    a(href=`//auth.${APP_DOMAIN}`).btn.btn--sm.btn--transparent.btn--uppercase Войти