mixin header()
    header.header(class={
        'header--blurred': attributes.blurred,
    })&attributes(Object.assign({}, attributes, {
        blurred: undefined
    }))
        div.header__main
            div.header__container
                a(href=attributes.link).header__logo.logo
                    img(src=`${STATIC_URL}/images/logos/${attributes.logo}` alt="Логотип Say Yes")

                block 

                unless attributes.auth === false
                    div.header__menu
                        a(href=`//auth.${APP_DOMAIN}`).btn.btn--sm.btn--transparent.btn--uppercase Войти