mixin slider()
    div.slider&attributes(Object.assign({}, attributes, {
        noArrows: null,
        noPagination: null,
    }))
        unless attributes.noArrows
            div.slider__arrows
                button.slider__left-arrow(type="button")
                button.slider__right-arrow(type="button")
        
        div.swiper-wrapper.slider__wrapper
            block

        unless attributes.noPagination
            div.slider__pagination

mixin slide
    div.swiper-slide
        block