.PostForm {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .ContentEditor {
        border: 1px solid var(--joy-palette-neutral-outlinedBorder);
        border-radius: 8px;
    }
}