@use 'shared/styles/mq';

.root {
    --page-max-width: 1280px;
    --page-padding: 2rem 1rem 6rem;
    --page-gap: 1rem;

    height: 100%;
    overflow: auto;

    :global {
        .ui-Menu {
            margin-bottom: 8px;
            border: none;
        }
    
        .ui-Grid {
            gap: 16px;
        }
    }
}

.container {
    max-width: var(--page-max-width);
    margin: auto;
    padding: var(--page-padding);
    display: flex;
    flex-direction: column;
    gap: var(--page-gap);

    @include mq.to(xl) {
        padding: 1rem;
    }
}

.layout-wider {
    --page-max-width: 1440px;
}

.layout-wide {
    --page-max-width: 1440px;
}

.layout-narrow {
    --page-max-width: 1024px;
}

.layout-narrower {
    --page-max-width: 720px;
}

.layout-full {
    --page-max-width: 100%;
}