.root {
    --max-width: 1280px;

    height: 100%;
    overflow: auto;

    :global {
        .ui-Menu {
            margin-bottom: 8px;
            border: none;
        }
    
        .ui-Grid {
            gap: 16px;
        }
    }
}

.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem 1rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.layout-narrow {
    --max-width: 1024px;
}

.layout-full {
    --max-width: 100%;
}