.inline-textarea {
    display: block;
    width: 100%;
    height: 36px;
    padding: 8px;
    background-color: #e3e3e3;
    border: none;
    border-radius: 5px;
    text-align: left;
    outline: none;
    letter-spacing: normal;
    resize: none;

    &--correct {
        color: forestgreen;
        background-color: rgba(34, 139, 34, .12);
    }

    &--incorrect {
        color: firebrick;
        background-color: rgba(178, 34, 34, .12);
    }

    p > & {
        margin-top: 1rem;
    }
}