extends /server/layouts/app

append head
    link(rel="stylesheet" href="/build/class.vendors.css")
    link(rel="stylesheet" href="/build/class.main.css")

append body
    script(src="/build/class.vendors.js")
    script(src="/build/class.main.js")