@use 'shared/styles/variables';
@use 'shared/styles/mq';

@use '../common';

@include common.root;
@include common.actions;
@include common.next-button;

.content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    text-align: center;
}

.value {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;

    .item,
    .itemDrop {
        width: 75%;
    }
}

.item,
.itemDrop {
    min-width: 150px;
    border-radius: var(--joy-radius-md);
    padding: .5rem 1rem;

    &:empty:after {
        display: inline-block;
        content: '';
    }
}

@include mq.to(s) {
    .value {
        .item,
        .itemDrop {
            width: 100%;
        }
    }
}