@use 'shared/styles/variables';

.root {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.lexemes {
    display: flex;
    gap: 16px;
}

.lexeme {
    flex: 1;
    padding: 5px;
    border: 1px solid variables.$primary-color;
    border-radius: 15px;
}