extends /shared/views/layouts/shared

append main
    main#content
        article
            header
                h1 Онлайн-обучение школы SAY YES! на платформе Zoom
                h2 Инструкция для участника индивидуальных занятий, онлайн-групп и разговорных клубов

            section
                h2 Что такое платформа Zoom?

                p #[a(href="https://zoom.us" target="_blank") Zoom] - это одно из самых новейших и удобных сервисов для онлайн-конференций.

                p Преимущества данного сервиса:
                ul
                    li бесперебойная и качественная видео-связь
                    li множество технических инструментов для проведения разнообразного онлайн-урока
                    li возможность распределять участников по группам в отдельные кабинеты для повышения количества практики языка для отдельного участника

                p Для более эффективного и удобного использования платформы, мы рекомендуем вам выходить на онлайн-встречу с компьютера или ноутбука, а не с мобильного устройства.

            section
                h2 Как попасть на запланированную онлайн-встречу?

                p После регистрации на любую онлайн-встречу (индивидуальный урок, групповой урок либо разговорный клуб), вам станет доступна ссылка на участие в этой встрече. Пройдя по этой ссылке перед началом встречи, вы
                p 1) перейдете на скачивание программы и после успешного скачивания, установки и запуска на саму онлайн встречу
                p ЛИБО
                p 2) попадете сразу на онлайн-встречу, если вы уже скачали программу ранее.

            section
                h2 Как установить программу Zoom?

                ul
                    li Перейдите по ссылке онлайн-встречи, указанной в письме
                    li Вам будет предложено скачать и установить программу Zoom (загрузка должна начаться автоматически)
                    li Если этого не произошло, нажмите на ссылку «Загрузите и запустите Zoom»
                    li Далее следуйте инструкциям установщика
                    li После загрузки и установки, программа автоматически запустится и нужно будет ввести свое имя и нажать кнопку «Войти»
                    li Начинайте свое общение онлайн!

                p Скачать программу Zoom можно по этой #[a(href="https://zoom.us/download" target="_blank") ссылке]. На странице необходимо выбрать «Клиент Zoom для конференций».

            section
                h2 Устранение неполадок

                +mdc-tab-bar()(align='center')
                    +mdc-tab('На компьютере')(icon='computer' stacked minWidth active)
                    +mdc-tab('На телефоне')(icon='smartphone' stacked minWidth)

                section.tab-panel.tab-panel--active
                    h3 Меня никто не слышит!

                    p Если вы говорите в свой микрофон, но вас никто не слышит, то это может происходит по нескольким причинам:
                    ul
                        li #[strong не подключен микрофон] - убедитесь, что микрофон подключен к компьютеру
                        li
                            p #[strong не включен звук в программе] - нажмите на кнопку «Включить звук» в левом нижнем углу:
                            img(src="https://static.sayes.ru/images/zoom/zoom-1.png")
                        li
                            p #[strong выбран не тот микрофон] - выбрать верный необходимо следующим способом:
                            ol
                                li
                                    p Необходимо в программе, внизу нажать на стрелочку вверх около значка микрофона, как это показано на скриншоте ниже:
                                    img(src="https://static.sayes.ru/images/zoom/zoom-2.png")

                                li
                                    p Когда вы нажмете на эту стрелочку - всплывет меню со всеми вашими микрофонами. Ваши микрофоны вы можете увидеть в фиолетовом квадратике, который есть на скриншоте ниже:
                                    img(src="https://static.sayes.ru/images/zoom/zoom-3.png")
                                    
                                    p Как определить какой из микрофонов работает? Тут все просто!

                                    p Переключите микрофон и попробуйте что-то сказать! Если микрофон работает, то вы увидите, что иконка микрофона заполняется зеленым, как это показано на рисунке ниже:
                                    img(src="https://static.sayes.ru/images/zoom/zoom-4.png")

                section.tab-panel
                    h3 Я никого не слышу и меня никто не слышит!

                    p При подключении через телефон вам необходимо отдельно подключить звук. Для этого:

                    ol
                        li
                            p Нажмите на кнопку «Подключить звук» в нижнем левом углу, как показано на скриншоте:

                            img(src="https://static.sayes.ru/images/zoom/zoom-phone-1.png" style='max-width: 360px')

                        li
                            p Нажать на всплывающее меню «Вызов с использованием звука устройства», как показано на скриншоте:

                            img(src="https://static.sayes.ru/images/zoom/zoom-phone-2.png" style='max-width: 360px')

                    h3 Я слышу других, но меня никто не слышит!

                    p Если вы слышите других участников, но они не слышат вас, то скорее всего у вас отключен микрофон в самой программе. В таком случае иконка микрфона красная и перечеркунта, как показано на скриншоте:

                    img(src="https://static.sayes.ru/images/zoom/zoom-phone-3.png" style='max-width: 360px')

                    p Просто нажмите на икноку с микрофоном для того чтобы включить его. Иконка станет белой, как показано на скриншоте:

                    img(src="https://static.sayes.ru/images/zoom/zoom-phone-4.png" style='max-width: 360px')

append body
    if ENV === 'development'
        script(src="/lib/material-components-web/dist/material-components-web.js")
    else
        script(src="/lib/material-components-web/dist/material-components-web.min.js")
    script.
        mdc.autoInit();

        var tabBar = document.querySelector('.mdc-tab-bar');
        var tabPanels = document.querySelectorAll('.tab-panel');

        tabBar.addEventListener('MDCTabBar:activated', function(event) {
            tabPanels.forEach(function(panel) {
                panel.classList.remove('tab-panel--active');
            });

            tabPanels[event.detail.index].classList.add('tab-panel--active');
        });